@charset "UTF-8";
/* CSS Document */
.skip {
  margin: 0;
  width: 0;
  height: 0;
  border: 0;
  line-height: 0; }

div.question-white {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 0px;
  margin: 2px 0 0 0;
  *margin-right: .3em;
  color: white;
  vertical-align: central;
  background-image: url("../img/house-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.house-white {
  display: inline-block;
  width: auto;
  height: 16px;
  padding-left: 15px;
  margin: 2px 0 0 0;
  *margin-right: .3em;
  color: white;
  vertical-align: central;
  background-image: url("../img/house-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.house-white:hover {
  opacity: 1; }

p.question-white {
  display: inline-block;
  width: auto;
  height: 16px;
  padding-left: 15px;
  margin: 2px 0 0 0;
  color: white;
  vertical-align: central;
  background-image: url("../img/question-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.question-white:hover {
  opacity: 1; }

p.info-white {
  display: inline-block;
  width: auto;
  height: 16px;
  padding-left: 15px;
  margin: 2px 0 0 0;
  color: white;
  vertical-align: central;
  background-image: url("../img/info-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.info-white:hover {
  opacity: 1; }

p.plus-white {
  display: inline-block;
  width: auto;
  height: 16px;
  padding-left: 15px;
  margin: 2px 0 0 0;
  *margin-right: .3em;
  color: white;
  vertical-align: central;
  background-image: url("../img/plus-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.plus-white:hover {
  opacity: 1; }

p.cancel-white {
  display: inline-block;
  width: auto;
  height: 16px;
  padding-left: 15px;
  margin: 2px 0 0 0;
  *margin-right: .3em;
  color: white;
  vertical-align: central;
  background-image: url("../img/cancel-white.png");
  background-position: 0px 3px;
  background-repeat: no-repeat;
  opacity: .6; }

p.cancel-white:hover {
  opacity: 1; }
