<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<!-- COMPONENT: Language Menu Dropdown -->
<div class="btn-group btn-right-align hidden-xs" th:fragment="languageFragment">
	<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="fa fa-flag force-inline"></span>
		<span class="hidden-sm hidden-md force-inline"> Language</span>
		<span class="caret"></span>
	</a>
	
	<ul class="dropdown-menu" role="menu">
		<li role="menuitem"><a th:href="@{${currentPageURI}+'?lang=en'}">English</a></li>
		<li role="menuitem"><a th:href="@{${currentPageURI}+'?lang=cn'}">Chinese</a></li>
	</ul>
</div>



<div th:fragment="myaccountMenuFragment" class="btn-group pull-right hidden-xs">
	
	<a class="btn btn-default myaccount-buttons" href="#">
		<span class="fa fa-envelope force-inline"></span><span class="force-inline"> Message Center</span> 
		<span class="label label-warning hidden-sm force-inline">3</span>
	</a>

	<!-- COMPONENT: User Dropdown -->

	<a class="btn btn-default myaccount-buttons dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="fa fa-user"></span><span class="force-inline" th:text="' '+#{header_my_account}"> My Account</span>
		<span class="caret"></span>
	</a>
	
	<ul role="menu" class="dropdown-menu">
		<li role="menuitem"><a href="profile.html" th:href="@{/patients/profile.html}" th:text="#{header_my_profile}">My Profile</a></li>
		<li role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}" th:text="#{header_change_password}">Change Password</a></li>
		<li role="menuitem" aria-disabled="true" class="divider"></li>
		<li role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}" th:text="#{header_logout}">Logout</a></li>
	</ul>

</div>


<div th:fragment="adminMyAccountMenuFragment" id="adminHome-navbar-buttons">
	
	<!-- COMPONENT: User Dropdown -->
	<div class="btn-group btn-group-sm">
		<span class="btn-group btn-group-sm">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="fa fa-user" style="margin-right: 2px;"></span>
				<span class="hidden-xs inline-block">Leo Smith</span>
				<span class="caret inline-block"></span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				<li role="menuitem"><a href="profile.html" th:href="@{/Administrator/editAdminProfile.html}" th:text="#{header_my_profile}">My Profile</a></li>
				<li role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}" th:text="#{header_change_password}">Change Password</a></li>
				<li role="menuitem" aria-disabled="true" class="divider"></li>
				<li role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}" th:text="#{header_logout}">Logout</a></li>
			</ul>
		</span>
		
		<a class="btn btn-default" href="#">
			<span class="fa fa-envelope"></span>
			<span class="hidden-xs inline-block"> Message Center</span> 
			<span class="label label-warning hidden-xs inline-block">3</span>
		</a>
	</div>

</div>



</html>