# Eclipse Artifacts #
.settings
.project
.classpath
.metadata
.springBeans
# Generated Artifacts #
target
bin
*.class
.sass-cache
*.log
# Package Files #
*.jar
*.war
*.ear
# Others #
*.roo
*.tmp
*.zip
*.DS_Store