<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" >
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../resources/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../resources/css/sentinel-style.css" rel="stylesheet"/>
	<link href="../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<link href="../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>

	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
	

</head>

<body>
		
	<!-- !START: Page Header -->

	
	
	<!-- END : Page Header -->
	
	<div id="signup1-main" class="container-fluid">
	<div role="navigation" class="navbar">
		<div class="navbar-inner-header">
			<div class="container-fluid"> 
				<h1><span class="nav-title">Create Password</span></h1>
				
				<span th:include="fragment/common :: logoFragment">
					<a class="brand" th:href="@{/index.html}"  href="index.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
				</span>
           		
			</div>
		</div>
	</div>
	<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">					
			<div id="content">

	
	<!-- JavaScrip Enable Message -->		
			<noscript>
				<div class="alert alert-block span10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div role="main" class="span10 offset1">			
		<div class="row-fluid">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="span9">
				
				 <section class="top-margin10">
					<form id="create_password action" action="#" th:action="@{/createPassword.html}" th:object="${passwordResetDto}" method="post">
							<fieldset id="login-thirdparty" class="row-fluid">
			                    
								<legend>Create Your New Account Password</legend>				 
								<div class="alert alert-info top-margin10">To create your new account, please enter a secure password.</div>
                                <div class="control-group">	                                 
	                                 <div class="username-container">   
		                                
	                                    <label for="new-password">Enter your Password</label> 
	                                    <input id="new-password" name="password" th:field="*{password}"   type="password" aria-required="true"/>
	                                    <span class="required-text" th:errors="*{password}">Password is required.</span>	 
	                                    <label for="reenter-password">Re-enter your Password</label> 
	                                    <input id="reenter-password" name="repeatPassword" th:field="*{repeatPassword}"  type="password" aria-required="true"/>  
	                                    <span class="required-text" th:errors="*{repeatPassword}">Password is required.</span>	 

<!-- 	                                    <div role="region" class="progress-wrapper">
	                                		<label >Password Strength:</label>
	                                		<div  id="passwordstrength" aria-live="polite" aria-atomic="false" class="progress progress-success progress-style span4">
		                                	<div class="bar"></div>
		                                </div> 
									
									</div>    -->                             
								</div>    
			                    							
	                        </div>
							 <input type="hidden" name="token" th:value="*{token}" />
							
							<div style="clear:both"></div>

                            	<div class="control-group bottom-btn-group">
                                	<div class="controls">
                                            <button type="button" class="btn" onClick="window.location.href='index.html'" style="margin: 0 10px 0 0;">Cancel</button>
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>	
	                      </fieldset>
                   </form>
               </section>
               
			</div>

		</div><!--/#content.span10-->
	</div><!--/row-fluid-->
	</div>
	<!-- END: Content Region -->


	</div>
		<!-- ELEMENT: Divider -->
		
	    
		<div class="clearfix"></div>	
	
	<!-- !START: Footer Region -->
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
		</footer>
	</div>
	<!-- START: JavaScript-->

		<script src="../../resources/js/jquery.min.js" 
				th:src="@{/resources/js/jquery.min.js}" 
				type="text/javascript">
		</script><noscript>Alternate content for script</noscript>
				<script src="../../resources/js/bootstrap.min.js"
				th:src="@{/resources/js/bootstrap.min.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../resources/js/jquery.toggle.buttons.js"
				th:src="@{/resources/js/jquery.toggle.buttons.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../resources/js/bootstrap-datepicker.js"
				th:src="@{/resources/js/bootstrap-datepicker.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../resources/js/bootstrap-popover.js"
				th:src="@{/resources/js/bootstrap-popover.js}"
				type="text/javascript"></script>
		<script src="../../resources/js/jquery.joyride-2.0.3.js" 
				th:src="@{/resources/js/jquery.joyride-2.0.3.js}"
				type="text/javascript"></script>
		<script src="../../resources/js/jquery.cookie.js" 
				th:src="@{/resources/js/jquery.cookie.js}"
				type="text/javascript"></script>
		<script src="../../resources/js/modernizr.mq.js" 
				th:src="@{/resources/js/modernizr.mq.js}"
				type="text/javascript"></script>
		<script src="../../resources/js/jquery.pstrength-min.1.2.js" 
				th:src="@{/resources/js/jquery.pstrength-min.1.2.js}"
				type="text/javascript"></script>
		
		<!-- FIXME: Move internal javascript code to external .js file -->
		<script type="text/javascript">
			$(document).ready(function(){
				$('#new-password').pstrength();
			});
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->	
	
</body>
</html>
