<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- START: Meta -->

	<meta charset="utf-8">
	<title>Login Trouble Password</title>
	<meta name="description" content="Consent Management System">
	<meta name="author" content="FEiSystems">

	<!-- END: Meta -->


	
	<!-- START: Mobile Specific -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- END: Mobile Specific -->



	<!-- START: CSS -->

	<link id="bootstrap-style" href="../../resources/css/bootstrap.css" rel="stylesheet">
	<link href="../../resources/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="../../resources/css/themes-style.css" rel="stylesheet" type="text/css">
	<link href="../../resources/css/joyride-consent2share.css" rel="stylesheet" type="text/css">
	<link href="../../resources/css/sentinel-style.css" rel="stylesheet" type="text/css">

	<!-- END: CSS -->



	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



	<!-- START: Favicon -->
		<!-- 	<link rel="shortcut icon" href="img/favicon.ico"> -->
	<!-- END: Favicon -->

		
</head>

<body>
		
	<!-- !START: Page Header -->

	
	
	<!-- END : Page Header -->
	
	<div id="signup1-main" class="container-fluid">
	<div role="navigation" class="navbar">
		<div class="navbar-inner-header">
			<div class="container-fluid">
				<a id="bread-crumb-btn" href="login-trouble.html" class="btn  btn-info" ><span class="icon-chevron-left icon-white"></span></a>
				<h1><span class="nav-title">Share with confidence.</span></h1>
				<a class="brand" href="index-landing.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
			
           
           
			</div>
		</div>
	</div>
	<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">					
			<div id="content">

	
	<!-- JavaScrip Enable Message -->		
			<noscript>
				<div class="alert alert-block span10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div role="main" class="span10 offset1">			
		<div class="row-fluid">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="span9">
				
				 <section class="top-margin10">
					
							<fieldset id="login-thirdparty" class="row-fluid">
			                    
								<legend>Trouble accessing your account?</legend>				 
								<div class="alert top-margin10">Help us to identify the difficulties you are experiencing signing into your account. Please choose one.</div>
                                <form id=other-troubles>
	                                <label for="password" class="radio">
	                                <input id="password" type="radio" name="optionRadio" value="login-trouble-password.html" checked="checked"> I do not know my password.
	                                </label>												     	
	                                <label for="user-name" class="radio top-margin10">
		                            <input id="user-name" type="radio" name="optionRadio" value="login-trouble-username.html"> I do not know my username.
		                            </label>
		                            <label for="someone-else" class="radio top-margin10">
		                            <input id="someone-else" type="radio" name="optionRadio" value="#"> I believe someone else is using my account.
		                            </label>
		                            <label for="reason-4" class="radio top-margin10">
		                            <input id="reason-4" type="radio" name="optionRadio" value="#"> I am having difficulty Reason 4.
		                            </label>
		                            <label for="reason-5" class="radio top-margin10">
		                            <input id="reason-5" type="radio" name="optionRadio" value="#"> I am having difficulty Reason 5.
		                            </label>
		                            <label for="reason-6" class="radio top-margin10">
		                            <input id="reason-6" type="radio" name="optionRadio" value="#"> I am having difficulty Reason 6.
		                            </label>
		                            <label for="need-someone" class="radio top-margin10">
		                            <input id="need-someone" type="radio" name="optionRadio" value="#"> I'm need to speak with someone.
		                            </label>

                                </form>
                                <form id="email-form">
                                <p><strong>Please enter the email address used to create your account.</strong></p>
	                                <label for="email">Email</label> 
                                	<input id="email" name="email" type="text" required aria-required="true"> 
		                       	 </form>	                                
								   
			                    							
	                        

								<div style="clear:both"></div>

                            	<div class="control-group bottom-btn-group">
                                	<div class="controls">
                                            <button type="button" class="btn" onClick="window.location.href='index-landing.html'" style="margin: 0 10px 0 0;">Cancel</button>
                                            <button class="btn btn-info" id="mybutton">Next</button> 
                                    </div>
                                </div>
                                <p class="bottom-margin10"><a href="index-landing.html"><small><em>Don't have an account?</em></small></a></p>	
	                      </fieldset>
                  
               </section>
               
			</div>

		</div><!--/#content.span10-->
	</div><!--/row-fluid-->
	</div>
	<!-- END: Content Region -->


	</div>
		<!-- ELEMENT: Divider -->
		
	    
		<div class="clearfix"></div>	
	
	<!-- !START: Footer Region -->		
	
		<footer class="bottom">
			<div>
				
				<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
			
			</div>
		</footer>
	
	<!-- END: Footer Region --> 
	</div>



	<!-- START: JavaScript-->

		<script src="js/jquery-1.7.2.min.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap-popover.js" type="text/javascript"></script>
		<script src="js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="js/modernizr.mq.js" type="text/javascript"></script>

		<!-- JavaScript Functions -->
		<script type="text/javascript">	
		
			$(document).ready(function(){
				
				$("#mybutton").click(function(){
				var selectedRadioButton = $("#other-troubles input[name='optionRadio']:checked");
				window.location.href = selectedRadioButton.val();
			});

							
			});			
		
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->
	
</body>
</html>
