<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- START: Meta -->

	<meta charset="utf-8">
	<title>Create New Password</title>
	<meta name="description" content="Consent Management System">
	<meta name="author" content="FEiSystems">

	<!-- END: Meta -->


	
	<!-- START: Mobile Specific -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- END: Mobile Specific -->



	<!-- START: CSS -->

	<link id="bootstrap-style" href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/themes-style.css" rel="stylesheet" type="text/css">
	<link href="css/joyride-consent2share.css" rel="stylesheet" type="text/css">
	<link href="css/sentinel-style.css" rel="stylesheet" type="text/css">

	<!-- END: CSS -->



	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



	<!-- START: Favicon -->
		<!-- 	<link rel="shortcut icon" href="img/favicon.ico"> -->
	<!-- END: Favicon -->

		
</head>

<body>
		
	<!-- !START: Page Header -->

	
	
	<!-- END : Page Header -->
	
	<div id="signup1-main" class="container-fluid">
	<div role="navigation" class="navbar">
		<div class="navbar-inner-header">
			<div class="container-fluid">
				<a id="bread-crumb-btn" href="login-trouble.html" class="btn  btn-info" ><span class="icon-chevron-left icon-white"></span></a>
				<h1><span class="nav-title">Share with confidence.</span></h1>
				<a class="brand" href="index-landing.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
			
           
           
			</div>
		</div>
	</div>
	<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">					
			<div id="content">

	
	<!-- JavaScrip Enable Message -->		
			<noscript>
				<div class="alert alert-block span10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div role="main" class="span10 offset1">			
		<div class="row-fluid">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="span9">
				
				 <section class="top-margin10">
					
							<fieldset id="login-thirdparty" class="row-fluid">
			                    
								<legend>Forgot your username?</legend>				 
								<div class="alert top-margin10">Please verify the information below to retrieve your account username. All information must match the information used to create the account. </div>
                                <form id=create_account>
                                	<label for="first_name">First Name</label> 
	                                    <input id="first_name" name="firstname" type="text" required="required" aria-required="true"> 
	                                    <label for="last_name">Last Name</label> 
	                                    <input id="last_name" name="lastname" type="text" required aria-required="true">
	                                    <label for="birth-date">Date of Birth</label> 
	                                    <input id="birth-date" name="birthdate" type="text" required aria-required="true">  
	                                    <label for="email">Email</label> 
	                                    <input id="email" name="email" type="text" required aria-required="true"> 

		                       	 </form>	                                
								   
			                    							
	                        

								<div style="clear:both"></div>

                            	<div class="control-group bottom-btn-group">
                                	<div class="controls">
                                            <button type="button" class="btn" onClick="window.location.href='index-landing.html'" style="margin: 0 10px 0 0;">Cancel</button>
                                            <button class="btn btn-info" onClick="window.location.href='#'">Next</button> 
                                    </div>
                                </div>	
	                      </fieldset>
                  
               </section>
               
			</div>

		</div><!--/#content.span10-->
	</div><!--/row-fluid-->
	</div>
	<!-- END: Content Region -->


	</div>
		<!-- ELEMENT: Divider -->
		
	    
		<div class="clearfix"></div>	
	
	<!-- !START: Footer Region -->		
	
		<footer class="bottom">
			<div>
				
				<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
			
			</div>
		</footer>
	
	<!-- END: Footer Region --> 
	</div>



	<!-- START: JavaScript-->

		<script src="js/jquery-1.7.2.min.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap-popover.js" type="text/javascript"></script>
		<script src="js/jquery.bootstrap-modal.js" type="text/javascript"></script>
		<script src="js/modernizr.mq.js" type="text/javascript"></script>

		<!-- JavaScript Functions -->
		<script type="text/javascript">	
		
			$(document).ready(function(){
				
							
			});			
		
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->
	
</body>
</html>
