<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" >
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../resources/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../resources/css/sentinel-style.css" rel="stylesheet"/>

	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
	

</head>

<body>
		
	<!-- !START: Page Header -->

	
	
	<!-- END : Page Header -->
	
	<div id="signup1-main" class="container-fluid">
	<div role="navigation" class="navbar">
		<div class="navbar-inner-header">
			<div class="container-fluid">
				<a id="bread-crumb-btn" href="loginTrouble.html" class="btn  btn-info" ><span class="icon-chevron-left icon-white"></span></a>
				<h1><span class="nav-title">Share with confidence.</span></h1>
				
				<span th:include="fragment/common :: logoFragment">
					<a class="brand" th:href="@{/index.html}"  href="index.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
				</span>
           
			</div>
		</div>
	</div>
	<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">					
			<div id="content">

	
	<!-- JavaScrip Enable Message -->		
			<noscript>
				<div class="alert alert-block span10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div role="main" class="span10 offset1">			
		<div class="row-fluid">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="span9">
				
				 <section class="top-margin10">
					
							<fieldset id="login-thirdparty" class="row-fluid">
			                    
								<legend>Forgot your password?</legend>				 
								<div class="alert alert-info top-margin10">Please enter the User Name you use to sign in to your account. All information must match the information used to create this account. </div>
                                <form id="forgot-password" name="forgot-password" action="newpassword-requested.html" th:action="@{/loginTroublePassword.html}" th:object="${loginTroubleDto}" method="post">
                                	<label for="username">User Name</label> 
                                	<input id="username" name="username" type="text" th:field="*{username}"   aria-required="true"/> <span class="required-text" th:errors="*{username}">Username must be between 3 and 30 characters long.</span>
                                	<label for="email">Email</label> 
                                	<input id="email" name="email" type="text" th:field="*{email}"  aria-required="true"/> <span class="required-text"  th:errors="*{email}">Please provide a valid email address.</span>
								<div style="clear:both"></div>

                            	<div class="control-group bottom-btn-group">
                                	<div class="controls">
                                            
                                            <button type="button" class="btn" onClick="window.location.href='index.html'" style="margin: 0 10px 0 0;">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-success" />
                                   </div>
                                </div>
                                </form>	
	                      </fieldset>
                  
               </section>
               
			</div>

		</div><!--/#content.span10-->
	</div><!--/row-fluid-->
	</div>
	<!-- END: Content Region -->


	</div>
		<!-- ELEMENT: Divider -->
		
	    
		<div class="clearfix"></div>	
	
<!-- !START: Footer Region -->
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
		</footer>
	</div>	
	
</body>
</html>
