<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" >
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Signup Verification</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../resources/css/bootstrap.css"
		rel="stylesheet"/>
	<link href="../../resources/css/bootstrap-responsive.min.css"
		rel="stylesheet"/>
	<link href="../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../resources/css/sentinel-style.css" rel="stylesheet"/>
	<link href="../../resources/css/bootstrap-toggle-buttons.css"
		rel="stylesheet"/>
	<link href="../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
	

</head>

<body>
		
	<!-- !START: Page Header -->

	
	
	<!-- END : Page Header -->
	
	<div id="signup1-main" class="container-fluid">
	<div role="navigation" class="navbar">
		<div class="navbar-inner-header">
			<div class="container-fluid">
				<!-- <a id="bread-crumb-btn" href="index.html" class="btn  btn-info" ><span class="icon-chevron-left icon-white"></span></a> -->
				<h1><span class="nav-title">Share with confidence.</span></h1>
				<a class="brand" href="index.html"  th:href="@{/index.html}"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
			
           
           
			</div>
		</div>
	</div>
	<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">					
			<div id="content">

	
	<!-- JavaScrip Enable Message -->		
			<noscript>
				<div class="alert alert-block span10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div role="main" class="span10 offset1">			
		<div class="row-fluid">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="span9">
				
				 <section class="top-margin10 bottom-margin15">
					
							<fieldset id="login-thirdparty" class="row-fluid">
			                   <div th:if="${tokenExpired}">
				                    <legend><b>Oops!</b></legend>
				                    <div class="alert alert-info top-margin10" >We apologize, but the confirmation link has expired.</div>
				                    <div>
				                    	<p>Please try again and click <a href="registration.html"  th:href="@{/registration.html}" style="color: blue; text-decoration: underline;"><strong>repeat the registration process.</strong></a></p>
									</div>
								</div>
								 <div th:if="${tokenNotExist}">
				                    <legend><b>Oops!</b></legend>
				                    <div class="alert alert-info top-margin10" >We apologize, but the confirmation link does not exist.</div>
				                    <div>
				                    	<p>Please try again and click <a href="registration.html"  th:href="@{/registration.html}" style="color: blue; text-decoration: underline;"><strong>repeat the registration process.</strong></a></p>
									</div>
								</div>
								
			                    <div th:if="${tokenSuccess}">
									<legend><b>Thank you for creating an account.</b></legend>				 
									<div class="alert alert-info top-margin10">Please check your email, and follow directions to complete the registration process..</div>

									<div>
										<p>Welcome to <b>Consent2Share</b>, and thank you for creating an account. With a full suite of educational resources and privacy management tools Consent2Share has to offer, you'll have greater control of your medical privacy preferences and share your health records in a safe and secure manner.</p>
										<p>You're almost done! You will be receiving an email from us. <strong><em>Please click on the link provided in the email to complete the registration process.</em></strong></p>
									</div>
									<p>Sincerely,</p>
									<p style="font-size: 18px; margin-top: -7px;"><strong><em>Consent2Share Team</em></strong></p>
								</div>
																	
								<div style="clear:both"></div>

	                      </fieldset>
                  
               </section>
               
			</div>

		</div><!--/#content.span10-->
	</div><!--/row-fluid-->
	</div>
	<!-- END: Content Region -->


	</div>
		<!-- ELEMENT: Divider -->
		
	    
		<div class="clearfix"></div>	
	
	<!-- !START: Footer Region -->		
	
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
		</footer>
	
	<!-- END: Footer Region --> 
	</div>



	<!-- START: JavaScript-->

		<script src="js/jquery-1.7.2.min.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap.js"></script><noscript>Alternate content for script</noscript>
		<script src="js/bootstrap-popover.js" type="text/javascript"></script>
		<script src="js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="js/modernizr.mq.js" type="text/javascript"></script>

		<!-- JavaScript Functions -->
				
		<script type="text/javascript">	
		
			$(document).ready(function(){ 
			
			$("#mybutton").click(function(){
				var selectedRadioButton = $("#trouble input[name='optionRadio']:checked");
				window.location.href = selectedRadioButton.val();
			});
			
				
							
			});			
		
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->
	
</body>
</html>
