@charset "UTF-8";

// SCSS Document 
@import "compass/css3";
@import "compass/utilities";


/* !BASE RULES */
/*============================================================
Base Rules are all default elements that use element
selectors, a descendent selector, or child selector, along
with pseudo-classes. Base Rules define the default styling
for how a base element should look in all occurrences on
the page. Do not use class or ID selectors with Base Rules. 
============================================================*/

	html {
		height: 100%;
	}
	
	h1,h2,h3,h4,h5,h6 {
		margin:0;
		font-family:sans-serif;
		font-weight:700;
		color:inherit;
	}
	
	
	h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
		font-weight:400;
		color:inherit;
	}
	
	h1 {
		display:inline-block;
		font-size:30px;
		line-height:36px;
		float: left;
	}
	
	h1 small {
		font-size:18px;
	}
	
	h2 {
		font-size:24px;
		line-height:36px;
	}
	
	h2 small {
		font-size:18px;
	}
	
	h3 {
		font-size:18px;
		line-height:27px;
	}
	
	h3 small {
		font-size:14px;
	}
	
	h4,h5,h6 {
		line-height:18px;
	}
	
	h4 {
		font-size:14px;
	}
	
	h4 small {
		font-size:12px;
	}
	
	h5 {
		font-size:12px;
	}
	
	h6 {
		font-size:11px;
		color:#999;
		text-transform:uppercase;
	}
	
	
	body {
		padding-right:0;
		padding-left:0;
		height:auto;
		margin-bottom:40px;
		color:#646464;
		height: 100%;
		min-width: 310px;
	}
	
	ul,ol {
		padding:0;
		margin:13px 0 10px 25px;
	}
	
	body .container-fluid {
		padding-right:10px;
		padding-left:10px;
		min-height: 100%;
		position: relative;
	}
	
	#index-body .container-fluid {
		padding-right:0px;
		padding-left:0px;
		}
	
	body .main-content-wrapper {
		min-height: 100%;
		position: relative;
		padding-bottom: 55px;
	}	
	
	body #consent-add-main .main-content-wrapper {
		position: static;
	}

	
	ul li{
		list-style: none; 
			&.spacing {
			margin-left: -24px;
				div{
					border-bottom: 1px solid; 
					border-color:#eeeeee;
					padding-top: 10px;
					padding-bottom: 10px;
						span{
							&.last-child {
							margin-bottom: 20px;
							}	
						}
					
				}
			}
	}


	hr {
		&.spacing{
		border:2px solid #eeeeee;
		margin-top: 10px; 
		margin-bottom: 10px;	
		}
	}
	
	a, a:hover {
		text-decoration: none;
	}
	
		
	footer {
		bottom:0;
		right:0;
		left:0;
		background-color:#999;
		padding:5px 40px;
		display:block;
		color:#fff;
		margin:5px 0px 0;
		text-align:center;
		font-weight:300;
		font-size:.85em;
		position:fixed;
		z-index:200;
	}
	
	footer.bottom {
		position: absolute;
		bottom: 0;
		height: 40px;
		background-color: #999;		
	}

	
	legend {
	display: block;
	width: 100%;
	padding: 10px 0 10px;
	margin-bottom: 0px;
	font-size: 21px;
	line-height: 24px;
	color: 
	#333333;
	border: 0;
	border-bottom: 1px solid 
	#e5e5e5;
	
	}
	

 	
	/* Base Brushes */	
	$ux-blue: #0ca3e8;
	$c2s-gray: #7c7b7b;

/* !LAYOUT RULES */  
/*============================================================
Layout Rules are elements within a page that define the
sections. Usually, Layout elements are like containers that
hold other page components. Layout Rules are major components
of a page which use ID Selectors when the component is only
used once per page or a Class Name, when the component is
used more than once per page.
============================================================*/
.home-body {
		margin-bottom: 0px;
	}


	/* Body Features @extends: #footer-features */
	#body-features{
		display: inline-block;
		margin-top:30px;
		text-align:left;
		width: auto;
		padding: 0 20px 0 15px;
		
		.span4{
			margin-left: 10px;
			margin-bottom: 24px;
		}
		
		h3 { 
			font-size:20px; 
			font-family:helvetica, san-serif;
			line-height:20px; 
			font-weight:700; 

			}
			
			div h3 {
				color: $ux-blue;
			}
			
		p {
			font-size:13px; 
			font-family:helvetica, san-serif; 
			line-height:20px; 
			font-weight:400;
			padding:10px 20px 0 0;	
			}
			
	}
	
	.btn {
		[class^="icon-"] + span, [class*=" icon-"] + span {			
			margin-left: 3px;			
		}
	}
	
	/* 	Footer Features */
	#footer-features{
		@extend #body-features;
			width: 100%;
		span4 {
		}
		h3 {
			font-size: 12px;
			font-weight: 100px;
		}
		div h3 {
			color: $c2s-gray;		
		}
		p {
			color: $c2s-gray;
			font-size: 10px;
		}
		
		.nav-pills > li {
			float: none;
		}
		
		.nav-pills > li > a {
		  padding-right: 60px;
		  padding-left: 12px;
		  margin-right: 2px;
		  line-height: 12px;
		}
		
		ul li{
			list-style: none;		
			a {
			font-size: 0.9em;
			font-weight: 400;
			color: $ux-blue;	
			}
			}	
	}
	
		.home-footer {
		background-color:#f2f2f2;
		min-height:180px;
		padding:5px 40px;
		display:block;
		color:#fff;
		margin-bottom:0px;
		margin-left: 0px;
		margin-right: 0px; 
		text-align:center;
		font-weight:300;
		font-size:.85em;
		position:relative;
	}


	/* Home Login Box  */	
	#home-login-container {
		display: inline-block;
		border: white;
		border-style: solid;
		border-width: 1px;
	/*	position: absolute; */
		background: white;
		max-height: auto;
	/*	max-width: 400px;  */
		height: auto;
		margin-top: 30px;
	/*	top: 50px;   */
		padding: 10px 20px 10px 20px;
		z-index: 49;
		@include border-radius (5px);
		@include opacity(0.9);
		@include background-image(linear-gradient(white 40%, white 60%, #fafafa 75%, #bbbbbb));
		@include box-shadow(gray 2px 2px 10px);
/* 		color: #fafafa */
		}
		
	.overlay {
		float: right;
		margin-left: 70%;
		margin-right: 70px;
		margin-top: -28px;	
		margin-bottom: 50px;
		}		
		
	.login-section {
		margin-bottom: 10px;
		&.login-fields {
			padding-top: 10px;
			.login-center {
			margin-left: 10%;	
			}	
			}
		}
		

	/* Home Feature */
   #home-feature-container {
	   background-color: #b29f81;
	   width: 100%;
/*	   margin-left:-70px;   */
/*	   margin-top:-10px;    */
	   
	   #home-feature-image {
		   background: url(../img/family-doc2.jpeg);
		   background-repeat: no-repeat;
		   height: 565px;
		   min-width: 100%;
/*		   height: auto;   */
/*		   width: 103%;    */
		   }
	   
	     }
  

	#home-feature-text {
	text-shadow: 1px 1px 4px black;
/*	position: absolute;   */
/*	max-width: 620px; 	  */
/*	width:80%;            */
	display: inline; 
	margin: 30px 0px 30px 50px; 
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 3.0em;
	word-wrap: break-word;
	line-height: 42px;
	}


	/* Brand Logo  */
		
		
		#logoFragment img {
			height: 38px;
			margin: -10px 0 -11px 0;
			}
			
		#login-navbar #watermark {
			display: none;
			}
		
		#watermark {
			position: absolute;
			top: 53px;
			right: 7px;
			opacity: .3;
			text-align: right;
			p {
				font-size:1em;
				line-height: 1.2em;
				margin: 5px 0 0 0;
				color:darkred;
				z-index: 200;
				}	
			}


		#brand-blue:before {
			content: "consent2share";
			font-weight:200px;
			margin-right: 10px;
			background-color:transparent;
			color:#13aaea;	
			}


	/*	#brand-gray:before {
			content: "consent";
			font-weight:200;
			background-color:transparent;
			color:gray;
		}
		
			
		#brand-blue-2:before { 
			content: "2";
			font-weight:200;
			font-size: larger;
			background-color:transparent;
			color:white;
			text-align: center;
			margin:5px;
			}	
		#brand-circle {
			width: 25px;
			height: 25px;
			background: $ux-blue;
			margin: 2px;
			padding: 4px;
			display: inline; 
			@include border-radius(25px)
			}
	*/
	
	
	#bread-crumb-btn {
			float: left;
		}


	
	
	
	.summary-record-details-container {
			display: inline;
		ul {
			width: 44%;
			margin: 0 0 15px;
			display: inline-block;
			vertical-align: top;
			background-color: #f8f8f8;
			&.summary-border {
				padding: 8px 1% 4px;
			}

				&.right {
					float: right;
				}
					&:hover {
						background-color: beige;
					}
		}
		
	}
	
	#share-all-med, #share-for-purpose, #consent-date-fill {
		background-color: rgba(210, 210, 210, .1);
		border-color: lightgrey;
		p{
			color: #8f8f8f;
		}
			&:hover {
				background-color: rgba(210, 210, 210, .2);
				border-color: #0088cc;
				p{
					color: #0088cc;
				}
			}
		ul{
			margin-bottom: 20px;
			li:nth-of-type(1) {
				margin-bottom: 10px;
				}
		}
		.iradio_square-blue {
			margin-right: 5px;
		}
	}
	
		
	.radio-label-align {
		display: inline;
		 div:first-child {
			float: left;
			label { 
				min-width: 550px; //this needs to be moved to media query
			}	
		}
	}	
		
	#consent-main-div-position {
		position: relative;
		margin-bottom: 0px;
	}
	
	#consent-main-h4 {
		margin-right: 35px;
	}
	
	/*
	#consent-main-plus-span {
		position: absolute;
		top: 0;
		right: 0;
	}
	*/
	
	#consent-3buttons {
		margin: 0px;
	}
	
	#consent-to, div#consent-from {
		&.summary-border { 
			padding: 0;
			margin-bottom: 0px;
			border-color: lightgrey;
			ul {
				margin: 0 10px;
				li {
					width: 95%;
					background-color: none;
					border: none;
					span {
						margin-right: 5px;
					}
				}
			}
		}
	}
	
	#consent-container {
	 	label {
			width: 90%;
		}
		#disclose-list, #authorize-list {
			label {
				color: Black;
				&.joe {
					color: #BABABA !important;
				}
			}
			input {
				margin-right: 12px;
			}
		}
		div.form-inline {
			margin: 10px 8px;
		}
		input {
			width: 85px;
				&#authorize-list.condition-input {
					width:220px;
				}
				&#disclose-list.condition-input {
					width:220px;
				}
		}
		a {
			text-decoration: none;
			background-color: rgba(210, 210, 210, .1);
				p{
					color: #8f8f8f;
				}
				
				:hover {
					border-color: #0088cc;
						p {
							color: #0088cc;
						}
				}
				
		}
		
	}
	
	.consent-authorize-box {
		width:47%;
		display:inline-block;
	}

	.consent-disclose-box {
		width:47%;
		display:inline-block;
		float:right;
	}

	#consent-right-arrow-container {
		width:2%;
		display:inline-block;
		text-align:center;
		margin-left:1.5%;
		padding:10px 0 0 0;
		
	}
	
	#consent-date {
		form {
			margin:5px 15px 0 0;
			&:hover {
				color: #0088cc
			}
		}
		#consent-start-date {
			float: left;
			margin-right: 5%;
			&.joyride-focus-element {
				padding-left: 10px;
				margin-top: -2px;
			}
		}
		#consent-end-date {
			display: inline-block;
			&.joyride-focus-element {
				padding-left: 10px;
				margin-top: -2px;
			}
		}

	}
	
	
	/*connectionMain*/
	
	#add-provider-btn {
		margin-bottom: 0px;
	}
	
	#legal-rep-fieldset {
		span.btn {
			margin-top: 2px;
			&.btn-danger {
				padding: 1px 7px 0 6px;	
			}
		}
	}

	#current-providers-table {
		[class^="icon-"], [class*=" icon-"] {
			width: auto;
		}
	}
	

	/* Login */
	#login-navbar {		
		.container-fluid {
			height: 46px;
			z-index: 50;		
			}
		&.navbar {
			margin-left: 0;
			margin-right: 0;
			}
				
		a.btn.btn-navbar, #create-account-navbar a.btn.btn-navbar {
			display: none;	
		} 
		
		#login-username, #login-password {
			width: 270px;
		}
	}
	
	#login-existingparty {
		margin-bottom: 10px;
	}
	
	#login-textindent {
		margin-left: 120px;
	}
	
	#login-thirdparty img {
		margin-right: 1.5em;
	}
	
	#login-thirdparty img:last-child {
		margin-right: .5em;
	}

	/* Profile */
	
	#dob {
		select {
			width: auto;
		}
	}
	
	.required-text {
		color: red; 
		line-height: 20px; 
		vertical-align: top; 
		margin: 3px 0 10px 10px;
		font-style: italic;
		display: inline-block;
	}
	
	#passwordstrength.progress {
		margin-bottom: 10px;
	}
	
	/* 	Section */
	
	#section-header {
		padding-bottom:6px;
		margin:2px 0;
		border-bottom:1px solid #eee;
	}
	
	#section-header h1 {
		line-height:1;
	}

		
	#person-information {
		margin:0;
	}
	
	.section-label {
		font-size: small;
	}
	
	.icon-allergy {
		margin-right: 15px;
		color: #d57a00;
		
	}
	.icon-medications {
		margin-right: 15px;
		color: #0066c4;
	}
	.icon-problems {
		margin-right: 15px;
		color:  #8d0016;
	}
	.icon-lab-results {
		margin-right: 15px;
		color:  #640095;
	}
	
	
/*   Modal Layout 	*/
	.span3 {
		checkbox {
		margin-right: 12px;
		margin-left: -20px;	
		}
		
	}
	
	.modal {
		.inputform, form { 
		    > div{
		    	padding-left: 25px;
		    }
			label {
				display: inline;
				padding-left: 0;
				input {
					margin-left: -25px
				}
				}
			} 	
		.collapse.in{
			overflow: initial;
			}
		.popover {
			width: auto;
			right: 5% !important;
			left: 5% !important;
			.arrow {
				display: none;
				}
			}
			.modal-body{
				.search-loading{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					
					background-image: url("../img/ajax-loader.gif");
					background-position: center;
					background-repeat: no-repeat;
				}	
			}
	}
	


/* !MODULE RULES */ 
/*============================================================
Module are more discrete components that make up the page
such as navigation bars, carousels, and widgets etc. Usually
these modules live within major layout components of the page
such as headers or footers. Modules should use class selectors
since they may be used more than once.
============================================================*/	
	
	/* Consent */
	
	
	.consent-select{ 
		display: inline-block;
		div {
			margin-right: 8px;
			float: left;
			}
	}
	
	.consent-add-header{
			display: inline;
		}
		
	.float-left {
			margin-right: 12px;
			float: left;
			vertical-align: middle;
			}
					
	.consent-sub-hdr {
			margin-top: -12px;
						}
	
	
	#add-legal-form, [id*='edit-legal-form'] {
		&.modal-body {
			max-height: 400px;
		}
	}
	
	.modal-body p {
		width:"400px";
		height: "225px";
		margin-left: "150px";
		
	}


 .progress-wrapper{
	 margin-bottom:20px;
 }

	.progress-style {
		margin-left:0px; 
		min-width:220px; 
		max-width: 220px; 
		height:10px;
		
			.bar {
		width:60%;
	}
	}
	
	.username-container {
		padding: 10px;
		width: auto;
		max-width: 100%;
		margin: 4px 4px 4px -10px;
		background-color: #f5f5f5;
		display: inline-block;
		@include border-radius(10px)
	}
	#myprofile-username-container.username-container {
		margin: 14px 4px 4px -10px;
	}
	
	.number-icon {
		margin-top: -10px;
		margin-left: -6px;
		margin-right: 2px; 
	}
	
	/* 	User Guide */	
	.user-guide {
	font-size: 13px;
	line-height: 18px;
	}
	
	/*  SideBar Pulldown Tab  */
	.guide-pulldown-tab {
		z-index: 200;
	}
	
	/* Disclaimer */
	.disclaimer{
	font-size: .8em;
	color: #dadada;	
	line-height: 15px;	
	margin-top: 6px;
	margin-bottom: 15px;
	}
		
	/* 	Social Icons */
	#icon-set {	
			margin-top: -10px;
			margin-left: 20%;
		.social-icons {
			width:60px;
			height: auto;
		}
	}

			
			
	.divider {
	margin-right: 20px;
	}

	.btn-primary {
		&.btn-margin {
		margin-top:-26px;
		}	
	}
	
	.btn-success {
		&.btn-signup {
			margin-bottom: 10px;
		}
	}
	
	.bottom-btn-group {
		margin: 20px 0 10px 0;
	}
 

	/* Accordion styles for screen > Share All: Settings */
	
	.edit {
		margin-left: 15px;
		vertical-align: middle;
	}
	
	.condition-input {
		height: 30px;
		margin-top: 10px;
		margin-right: 10px;
		width: 80%;
		vertical-align: middle;
	}
	
	#health-services {
		label {
			margin-bottom: 15px;
			&#state-label {
				margin-bottom: 0px;
			}
		}
		.condition-input {
			margin: 0 10px 0 10px;
			width: 220px;
			vertical-align: middle;
		}
	}
	
	.list-btn {
		float: right;
		margin-bottom: 4px;
	}
	
	.alert-width {
		width: auto;
	}
	
	.accordion-header-style {
		background-color: #f5f5f5; 
		a {
		font-weight: 600;	
		} 
		 
		div {
		font-weight: 100px;
		margin-left: 15px;
		padding-bottom: 10px;
		}
	}
	
	#signup1-tour, #signup3-tour {
		.modal-header {
			background-color: #f6f6f6;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			& h3 {
				color:#0088cc;
			}
		}
	}
	
	
	.h3-style {
		font-size:18px;
		line-height:27px;
		margin:0;
		font-family:sans-serif;
		font-weight:700;
		color:inherit;
	}
	
	.h4-style {
		font-size:14px;
		line-height:18px;
		margin:0;
		font-family:sans-serif;
		font-weight:700;
		color:inherit;
	}
	
	.nav-title {
		display:inline-block;
		text-align:center;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:20px;
		font-weight:300;
		vertical-align:middle;
		margin: 4px 0px 4px 10px;
		float: left;
	}
	
		.nav-call-out {
		display:inline-block;
		text-align:center;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:20px;
		font-weight:300;
		vertical-align:middle;
		margin: 4px 0px 4px 10px;
		float: left;
	}
	
	.navbar {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 0px;
		overflow: visible;
		#notification_bar {
			a, a:hover {
				text-decoration: underline;
			}
		}
	}
	
	.navbar .brand {
		padding-right:10px;
		padding-left:10px;
		margin:0;
		float: right;
	}


	.btn-group {
	margin: 5px 18px 5px 5px;
	}
	
	td {
		&.contacts-td {
			width: 80%;
		}
	}
	
	.btn-cannot-delete-text {
		.popover {
			left: 2%;
			.popover-content {
				color: #D51818;
				font-weight: 600;
			}
			.popover-title, .arrow {
				display: none;
			}
		}
	}
	
	
	
	.btn-danger:hover span {
		color: rgba(255,255,255, 1);
		opacity: 1;
	}
	.minus-btn, .add-btn {
			color: rgba(255,255,255,.65);
			&:hover{
				color: rgba(255,255,255, 1);
				opacity: 1;
			}
			
			a {
				color: inherit;
			}
		[class*=" icon-white"]{
			opacity: 1;
		}

	}
	
	
	.top-margin10 {
		margin-top: 10px;
	}
	
	.bottom-margin10 {
		margin-bottom: 10px;
	}
	
	.top-margin15 {
		margin-top: 15px;
	}
	
	.bottom-margin15 {
		margin-bottom: 15px;
	}
	
	.top-margin20 {
		margin-top: 20px;
	}
	
	.bottom-margin20 {
		margin-bottom: 20px;
	}
	
	.logo-box {
		width: 100px;
		height: 100px;
		float: left;
		background-color: beige;
	}
	

	.form-horizontal .controls {
	margin-left: 0px;
	}
	
    .btn-right-align {
	text-align: center;
	vertical-align: middle;
	display:block;
	float:right;
	}
	
	.btn-right-align-nomargin {
		margin: 0px;
		text-align: center;
		vertical-align: middle;
		display:block;
		float:right;
	}
	
	a.footer-link {
		color:#dcdcdc;
		text-decoration:none;
	}
	
	a:hover.footer-link {
		color:#005580;
		text-decoration:underline;
	}
	
	.input-fixed, input.btn.input-fixed {
		width: 290px;
	}
	
	[class^="icon-white"],[class*=" icon-white"] {
		opacity:.5;
	}
	
	.nav li a embed:hover {
		opacity:1;
	}
	
	
	.smalltype {
		margin-top:10px;
		font-size:12px;
		font-weight:300;
	}
	
	.nomargin {
		margin:0;
		border:none;
	}
	
	footer.navbar {
	}
	
	.row-fluid .span11 .box .span8 {
	width:100%;
	}

	
	.nav-popdown {
		margin:0 -20px;
		min-height:10px;
		background-color:#FFF6C1;
		border-bottom:1px solid #F9E662;
		border-bottom:1px solid #f9e662;
		border-bottom-color:rgba(228,219,173,1);
		-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
		-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
		box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
	}
	
	.btn-mainmenu {
		display: none;
	}
	
	.navbar .btn, .navbar .btn-group {
		margin-top: 5px;
		margin-bottom: 2px;
	}
	
	.nav-popdown form {
		margin:0 20px;
	}
	
	.nav-popdown label {
		padding:10px;
	}
	
	.nav-collapse .nav > li > a {
		font-weight: normal;
	}
	
	.navbar-inner-header {
		min-height:40px;
		padding-right:0;
		padding-left:0;
		background-color:#fafafa;
		background-image:-moz-linear-gradient(top,#fff,#f2f2f2);
		background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
		background-image:-webkit-linear-gradient(top,#fff,#f2f2f2);
		background-image:-o-linear-gradient(top,#fff,#f2f2f2);
		background-image:linear-gradient(to bottom,#fff,#f2f2f2);
		background-repeat:repeat-x;
		border:1px solid #d4d4d4;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	/*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0); */
	/* 	*zoom:1; */
		-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
		-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
		box-shadow:0 1px 4px rgba(0,0,0,0.065);
	}

	.summary-border {
		padding:10px 8px;
		border:1px solid lightgrey;
		border-radius:4px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		margin-bottom:10px;
		&:hover {
			border-color: #0088cc;
		}
		
		ul.provider-ul {
			li {
				overflow: auto !important;
				white-space: normal !important;
				height: auto;
			}
		}
	}
	
	
	#add-legal-modal .summary-container {
		div.datepicker {
			&:after {
				content:"";
			}
		}	
	}
	
	.summary-container {
		.summary-border a.btn.btn-small {
			margin-bottom:3px;
			min-width:25px;
		}
		label.uneditable-input {
			width:45%;
			margin:0 0 5px;
		}
		label.consent-summary {
			font-weight:700;
			display:block;
			width:auto;
			float:left;
		}
		input {
			position: relative;
			width: 110px;
			padding: 3px 0 5px 6px;
		}
		
		div.datepicker {
			&:after {
          		font-family: FontAwesome;
	          		content: "\f133";
	          		font-size: 14px;
	          		color: #3D6386;
	          		position: relative;
	          		top: 6px;
	          		left: -24px;
	          		z-index: 101;
	          		border: 0;
	          		background-color: transparent;
	          		}
		}
	}
	


	/* !MODULE RULES - JOYRIDE STYLING */ 
	/*============================================================
	This section contains edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	
	
	.joyride-content-wrapper {
		padding: 10px 22px 15px 15px;
	}

	
	/*
@media only screen and (max-width: 979px) {
	.myhome-tourbox2a	 {
		display: none !important;  
		}
	
	.btn-mainmenu {
		display: block;
  		float: right;
	}
	
	}
	
	@media only screen and (min-width: 980px) {
	.myhome-tour2 {
		display: none !important;  
		}
	}
*/

	.jerry {
		span.joyride-nub.top-right {
			left: 220px;;
		}
	}
		
	.klinger {
		span.joyride-nub.top {
			left: 110px;
		}
		
	}
	.tony {
		span.joyride-nub.top-right {
			right: 15px;
		}
		
	}
	.trouble {
		
		span.joyride-nub.top-right {
			right: 15px;
		}
		
	}

	/* !END MODULE RULES - JOYRIDE STYLING */ 
	/*============================================================
	End of edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	

	 
	 
/* !STATE RULES */
/*----------------------------------------------------------
State rules describe how a module or layout will look when
in a particular state (for example, selected, focus, hidden
etc.) or in a particular part of the screen or system. States
should be made to stand alone and are usually built of a single
class selector.
----------------------------------------------------------*/
	
	.inline-block {
		display: inline-block;
	}
	
	
	.offscreen {
		position: absolute;
		margin-top: -9999px;
	}

	
	.ico-space {
		margin-right:20px;
	}

	
	.person {
		font-style:normal;
		font-size:medium;
		font-weight:600;
		margin-bottom:2px;
		margin-top: 10px;
	}
	
	.gender {
		font-size:small;
		font-weight:200;
		margin-bottom:-4px;
	}
	
	.birth-date {
		font-size:smaller;
		font-weight:200;
	}

	a.btn-right {
		float: none;
		margin:50px;
		text-align:center;
		display: inline;
	}
	
	/*  This class is used to fix the Flash of Unstyled Content (FOUC) issue  */
	
	body.fouc_loading {
		display: none !important;
	}
	
	

/* !CHANGING STATE RULES */
/*============================================================
State Changes can be implemented in three different ways:
Class Name - when a class changes with JavaScript
Pseudo-Class - a change is applied using a number of Pseudo-Classes
Media Query - defines how things should be styles under defined criteria
============================================================*/

/* height max for iphone4s landscape view */
@media only screen and (min-height: 651px)  {
	[id*='edit-legal-form'], [id*='add-legal-form']{
		&.modal-body {
		max-height: 400px!important;
		}		 
	}
}

@media only screen and (min-height: 481px) and (max-height: 650px) {
	[id*='edit-legal-form'], [id*='add-legal-form']{
		&.modal-body {
		max-height: 280px!important;
		}		 
	}
}

@media only screen and (max-height: 480px) {
	[id*='edit-legal-form'], [id*='add-legal-form']{
		&.modal-body {
		max-height: 160px!important;
		}
	}
}


/* Max-width 979px Wide 
====================================================================== */

@media only screen and (max-width: 979px) {
	
/* Brand Logo  */
	
	.myaccount-buttons {
			display: none !important;
			}
		
	}

/* Min-Width 769 to Max-width 979px Wide 
====================================================================== */
@media only screen and (min-width: 769px) and (max-width: 979px) {
	#sidenavMenu.nav-collapse {
		height: auto !important;
		}
}


/* 768px Wide - MOBILE - Landscape, Tablet Portrait (devices and browsers)
====================================================================== */

@media only screen and (max-width: 768px) {
	
	.btn-mainmenu {
		display: block;
  		float: right;
		}	
	} 

@media only screen and (min-width: 480px) and (max-width: 768px) {

	#watermark {
			p {
				max-width:200px;
				font-size: .95em;
				}		
			}
	
	#logoFragment img {
			height: 30px;
			margin: -10px 0 -11px 0;
			}
	
	#home-login-container {
		max-width: none;
			width: 90%;
	}
	
	
	.login-section {
	margin-bottom: 10px;
	&.login-fields {
		padding-top: 10px;
		.login-center {
		margin-left: 20%;	
		}	
		}
	}
	
		.overlay {
		float: left;
		margin-left: 10%;
		margin-right: 70px;
		margin-top: -28px;	
		margin-bottom: 50px;
		}	
		
	#home-feature-container {
	   width: 100%;
	   }
	
	#home-feature-text {
	text-shadow: 1px 1px 4px black;
	position: absolute; 
	max-width: 200px; 
	display: none; 
	margin: 30px 0px 30px 50px; 
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 3.0em;
	word-wrap: break-word;
	line-height: 42px;
	}
		
	#consent-right-arrow-container {
		margin-left: 1.2%;
	}
	
	#consent-3buttons {
		width:auto;
		display:inherit;
	}	
	
	.btn-group {
		margin-right: 10px !important;
	}
	
	.nav-popdown, #topnavbar {
		margin-left:20px;
		margin-right:20px;
		-webkit-border-radius:0 0 6px 6px;
		-moz-border-radius:0 0 6px 6px;
		border-radius:0 0 6px 6px;
	}
	
	#overlay ul {
		margin:150px auto 0;
	}
	
	#content {
		background:transparent;
	}
	
	.summary-container label.uneditable-input {
		width:45%;
	}

	.summarybody {
		margin-right:50px;
	}
	
	.quick-button,.quick-button-small {
		margin-bottom:20px;
	}
	
	.pull-right {
		width:100%;
		margin:5px auto;
		text-align:center;
		display: none;
	}	
	
	.row-fluid #home-login-container[class*="span"] {
		margin-left: 5% !important;
		margin-top: 20px !important;
	}
	
	[class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"] {
		display:block;
		float:none;
		width:100%;
		margin-left:2.7624309392265%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	#connections-box.box {
		margin-left: 0px;
	} 
	
	.fc-button-today,.fc-button-month,.fc-button-agendaWeek,.fc-button-agendaDay {
		display:none;
	}
	
	.row-fluid {
	width: 98%;
	}
	
	
	/* !MODULE RULES - JOYRIDE STYLING 
	768px Wide - MOBILE - Landscape, Tablet Portrait (devices and browsers) 
	(min-width: 480px) and (max-width: 768px)*/ 
	/*============================================================
	This section contains edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	
	
	

	/* !END MODULE RULES - JOYRIDE STYLING */ 
	/*============================================================
	End of edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	
	
}


/* 479px wide - MOBILE - Portrait, Mobile Landscape Size (devices and browsers)
============================================================================ */

@media only screen and (max-width: 479px) {

	
		.overlay {
		float: left;
		margin-left: 10px;
		margin-right: 70px;
		margin-top: -28px;	
		margin-bottom: 50px;
		}
		
		.login-section {
			margin-bottom: 10px;
			&.login-fields {
				padding-top: 10px;
					.login-center {
						margin-left: 5%;	
					}	
			}
		}


		
/*
#home-login-container {
			margin-left: -1px;
		}
*/
	.row-fluid #home-login-container[class*="span"] {
		margin-left: 5% !important;
	}
		
		#content.row-fluid {
			width: 100%;
		}
		
/* Brand Logo  */
		
		#home-page #watermark {
			p {
				max-width:180px !important;
				}		
			}
			
		#watermark {
			p {
				/*max-width:180px;*/
				font-size: .75em;
				margin: 0;
				}		
			}
		
		#logoFragment img {
			height: 30px;
			margin: -10px 0 -11px 0;
			}
		
		#brand-gray:before {
			font-size: 16px;
		}
		
		#brand-blue:before {
			font-size: 16px;
			display: none;
			}
			
		#brand-blue-2:before { 
		font-size: 20px;
		vertical-align: top; 
			}	
		#brand-circle {
			width: 12px;
			height: 12px;
			margin: 2px;
			padding: 2px; 
			}

	#home-feature-container {
	   width: 100%;
	   }
	
	#home-feature-text {
	text-shadow: 1px 1px 4px black;
	position: absolute; 
	max-width: 620px; 
	display: none; 
	margin: 30px 0px 30px 50px; 
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 3.0em;
	word-wrap: break-word;
	line-height: 42px;
	}

	
	#home-login-container {
		max-height: auto;
		max-width: 400px;
		height: 520px;
		top: 50px;
		width: 90%;
	}
	
	
	#share-all-med, #share-for-purpose {
		p {
			font-size: 13px;
		}
	}
	
	#consent-from, #consent-to {
			p {
				font-size: 13px;
					#test {
						display: none;
						}
			}
		}
	
	#consent-right-arrow-container {
		margin-left: .5%;
	}
	
	.summary-record-details-container {
		#consent-right-arrow-container {
		margin-left: 2%;
		}
		ul {
			width: 42%;
			&.summary-border {
				padding: 8px 1% 4px;
				}
			}
	}

	
	#consent-3buttons {
		width: auto;
		display: inherit;
	}
	
	#overlay ul {
		margin:150px auto 0;
	}
		
	#content {
		background:transparent;
	}
	
	.quick-button,.quick-button-small {
		margin-bottom:20px;
	}
	
	.pull-right {
		width:100%;
		margin:10px auto;
		text-align:center;
		display: none;
	}
	
	.fc-button-today,.fc-button-month,.fc-button-agendaWeek,.fc-button-agendaDay {
		display:none;
	}
	
	table,.pagination {
		font-size:11px;
	}
	
	.pagination {
		padding:5px;
	}
		
	.nav-title {
		font-size:16px;
	}
	

.navbar .btn-navbar {
  display: block;
  float: right;
  padding: 6px 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  *background-color: #e5e5e5;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}


	.navbar .btn, .navbar .btn-group {
	margin-top: 8px;
	margin-bottom: 2px;
	}
	
	.btn-group {
		margin-right: 0 !important;
	}

	#connections-content legend {
		font-size:16px;
		margin-bottom: 15px;
		line-height: 30px;
	}
	
	#connections-content .person {
		font-size: 14px;
		padding-top: 2px;
	}

	.uneditable-input,.row-fluid [class*="span"] {
		display:block;
		float:none;
		width:100%;
		border: 0px solid;
		margin-left:2.7624309392265%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	#connections-box.box {
		margin-left: 0px;
	} 
	
	legend {
	display: block;
	width: 100%;
	padding: 10px 0 10px;
	margin-bottom: 0px;
	font-size: 18px;
	line-height: 24px;
	color: 
	#333333;
	border: 0;
	border-bottom: 1px solid 
	#e5e5e5;
	}

	.row-fluid {
	width: 98%;
	}
	
	/* !MODULE RULES - JOYRIDE STYLING 
	479px wide - MOBILE - Portrait, Mobile Landscape Size (devices and browsers) */ 
	/*============================================================
	This section contains edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	
	
	

	/* !END MODULE RULES - JOYRIDE STYLING */ 
	/*============================================================
	End of edits and additions to the original Joyride-2.0.3.css file.
	============================================================*/	
	
}	

/* Min-width 300px to Max-width 479px wide - MOBILE - Portrait, Mobile Landscape Size (devices and browsers)
============================================================================ */

@media only screen and (min-width: 300px) and (max-width: 399px) {
		#watermark {
				/*position: absolute;
				top: 53px;
				right: 7px;*/
				max-width: 120px;
				}

		#home-login-container {
			margin-left: 5% !important;
			margin-top: 10px;
			height: auto;
			fieldset {
				&.login-section.login-fields {
					padding-top: 0 !important;
					} 
				legend {
					font-size: 17px;
					margin-bottom: 5px;
					padding: 0 0 10px;
					}
				form#loginForm {
					 & > div:first-child {
					 	padding-top: 2px;
					 	}
					margin: 0 0 5px !important;
					transition: margin .5s linear;
					-webkit-transition: margin .5s linear;
					-moz-transition: margin .5s linear;
					-o-transition: margin .5s linear;
					-ms-transition: margin .5s linear;
					
				}
			}
		}
		
}
