<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">

<!-- START: Meta -->

<meta charset="utf-8" />
<title>My Consents</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />

<!-- END: Meta -->

<!-- START: Mobile Specific -->

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- END: Mobile Specific -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



<!-- START: Favicon -->
<!-- 	<link rel="shortcut icon" href="img/favicon.ico"> -->
<!-- END: Favicon -->
			
</head>

<body id="listConsent-page" class="fouc_loading">

<div class="container outmost-holder">
	<!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Consents',currentPageURI='/consents/listConsents.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragment">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a class="btn btn-info btn-mainmenu" data-toggle="collapse"
						data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-reorder"></span>
					</a>
					<h1>
						<span class="nav-title">My Consents</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
							<span id="watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
					
					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-flag"></span>
							<span class="hidden-sm hidden-md"> Language</span>
							<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
							class="hidden-sm hidden-md"> Message Center</span> <span
							class="label label-warning hidden-sm">3</span>
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>

					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
		
		
		<div id="notification_bar" th:switch="${notification}">
				<span th:case="'notification_add_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			To create and manage your consents, you need to add providers. Please go to <a href="../patients/connectionMain.html"><strong>My Providers</strong></a> to begin this process.
					</div>
				</span>
				<span th:case="'notification_add_second_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			To create and manage your consents, you need to add a second provider. Please go to <a href="../patients/connectionMain.html"><strong>"My Providers"</strong></a> to begin this process.
					</div>
				</span>
				<span th:case="'notification_add_consent'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			Click the  <a href="../consents/addConsent.html"><strong><button class="btn btn-success btn-xs">
												<span class="glyphicon glyphicon-plus glyphicon-white"></span>
											</button></strong></a> button to add a new consent.
					</div>
				</span>
				<span th:case="'notification_add_consent_successed'">
				   <div class="alert alert-success rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		    	<strong>Congratulations!</strong> You've successfully added a new Consent. You may now click on the <strong>'Submit'</strong> button to review and sign your consent.
					</div>
			    </span>
				
				<span th:case="'notification_review_sign_consent'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		    	You may now click the <strong>'Submit'</strong> button to review and sign your Consent.
					</div>
				 </span>
				
				<span th:case="'notification_sign_consent'">
			    <div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						You have an unsigned consent. To sign your consent, Please check your <a href="../inbox/inboxMain.html"><strong>Message Center</strong></a> or the e-sign email sent to your email account.
				</div>
				</span>
		</div>
	</header>
	<div id="under-header"></div>
	
	<!-- END : Page Header -->
	
	<div id="consent-main" class="container">
		<div class="row main-content-wrapper">
			<div id="content">

				<!-- START: Side Nav Menu -->

				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div class="navbar-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="../home.html">
								<div class="glyphicon  glyphicon-home glyphicon-large"></div>
									<span class="hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon  glyphicon-file"></div>
									<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon  glyphicon-random"></div>
									<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="glyphicon  glyphicon-user"></div>
									<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon  glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon  glyphicon-time"></div>
									<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon  glyphicon-folder-open"></div>
									<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon  glyphicon-unlock-alt"></div>
									<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon  glyphicon-off"></div>
									<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript th:substituteby="fragment/common :: noscriptFragment">
					<div class="alert alert-warning col-md-10 col-sm-9">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
					</div>
				</noscript>



				<!-- START: Content Region-->

				<div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9">
					<div class="row">

						<!-- COMPONENT: Consents -->

						
							<section class="top-margin10">
								<fieldset class="row">
									<legend th:text="#{list_consent_block_title}">Consents</legend>

									<div class="form-group">
										<div id="consent-main-div-position">
											<p class="h4-style" id="consent-main-h4" th:text="#{list_consent_block_information}">Federal
												Government Assisted Alcohol and Drug Abuse Treatment Program</p>

											<p style="color: #FF0000" th:switch="${emailSent}">
												<i th:case="${'true'}" th:text="#{list_consent_email_sent_message}"><br />We just sent you an email
													to the address you registered. Please go to your mailbox
													and complete the e-sign.</i> <i th:case="${'false'}"></i>
											</p>
											<!-- Issue #124 Fix Start 
											     if no of providers are< 2, the addconsent button should be disabled , else enabled
											 -->
											 <!--  Show add a consent button in disable mode when providers are less than 2 -->
											<div th:if="(${notification} == 'notification_add_second_provider' or ${notification} =='notification_add_provider' )">
												<span title="plus button" id="consent-main-plus-span">
												<button id="consent-main-plus-btn" class="btn btn-default  btn-xs add-btn" disabled="disabled">	
													<span class="fa fa-plus fa-white"></span><span style="color:black">Add a Consent</span>
												</button>
												</span>
											</div>
											
											
											<!--  Show add a consent button in enable mode when providers are more than 2 -->
											<div th:unless="(${notification} == 'notification_add_second_provider' or ${notification} =='notification_add_provider' )">
												
												<span title="plus button" id="consent-main-plus-span">
												<button id="consent-main-plus-btn" class="btn btn-success btn-xs add-btn" onclick="window.location = 'addConsent.html';">
													<span class="fa fa-plus fa-white"></span><span >Add a Consent</span>
												</button>
												</span>
											</div>
											<!-- Issue #124 Fix End  -->
										</div>

										<div class="clearfix"></div>
									</div>

									<!-- <div class="alert alert-block alert-success">
	                    <p>Add a Consent by clicking on the <strong >+</strong> button.</p>
	                </div> -->
								</fieldset>
							</section>

							<section th:each="consentEntry:${listConsentDtos}"
								id="consent-current-active" class="col-sm-10 summary-container">
								<div class="summary-border">

									<div class="summary-record-details-container">
										<ul class="summary-border provider-ul">
											<li th:each="discloseName:${consentEntry.toDiscloseName}"><span class="fa fa-user"></span>
												<label th:text="${discloseName}">Washington, George</label></li>

										</ul>

										<div id="consent-right-arrow-container">
											<div id="consent-arrow" class="glyphicon  glyphicon-arrow-right"></div>
										</div>

										<ul class="summary-border right provider-ul">
											<li th:each="isMadeToName:${consentEntry.isMadeToName}"><span class="fa fa-user"></span>
												<label th:text="${isMadeToName}">Reagan, Ronald</label></li>
										</ul>
										<div class="clearfix"></div>

									</div>


									<div class="form-inline">
										<!--
<span th:each="discloseName:${consentEntry.toDiscloseName}">
					        	<label class="uneditable-input" th:text="${discloseName}"><span class="glyphicon  glyphicon-user"></span> Washington, G</label>
					        	</span>
					        	<span class="glyphicon  glyphicon-arrow-right"></span>
					        	<span th:each="isMadeToName:${consentEntry.isMadeToName}">
					            <label class="uneditable-input" th:text="${isMadeToName}"><span class="glyphicon  glyphicon-user"></span> Franklin, B</label>
					            </span>
-->
										<p>
											<strong th:text="#{list_consent_medical_information}">Medical Information <span style="color: #b80202;">NOT</span> Disclosed:</strong> 
										</p>
										<p>		
												<span class="badge"
													th:each="doNotShareClinicalConceptCode:${consentEntry.doNotShareClinicalConceptCodes}"
													th:text="${doNotShareClinicalConceptCode}">Some
												Information</span>
												<span class="badge"
												th:each="doNotShareClinicalDocumentTypeCode:${consentEntry.doNotShareClinicalDocumentTypeCodes}"
												th:text="${doNotShareClinicalDocumentTypeCode}">Some
												Information</span> <span class="badge"
												th:each="doNotShareClinicalDocumentSectionTypeCode:${consentEntry.doNotShareClinicalDocumentSectionTypeCodes}"
												th:text="${doNotShareClinicalDocumentSectionTypeCode}">Some
												Information</span> <span class="badge"
												th:each="doNotShareSensitivityPolicyCode:${consentEntry.doNotShareSensitivityPolicyCodes}"
												th:text="${doNotShareSensitivityPolicyCode}">Some
												Information</span>
										</p>


										<p>
											<strong th:text="#{list_consent_share_following_purposes}">Share for following purposes:</strong>
										</p>
										<p id="share-for-purpose">		
												<span
												class="badge"
												th:each="shareForPurposeOfUseCode:${consentEntry.shareForPurposeOfUseCodes}"
												th:text="${shareForPurposeOfUseCode}">Some
												Purpose</span>
										</p>
									</div>
									
									<form th:name="@{'consent_download_' + ${consentEntry.id}}"
										th:action="@{/consents/downloadPdf.html}" method="post">
										<input type="hidden" name="consentId"
											th:value="${consentEntry.id}" />
										<input type="hidden" name="doctype"
											th:value="${'consent'}"/>
									</form>

									<form th:name="@{'consent_edit_' + ${consentEntry.id}}"
										th:action="@{/consents/editConsent.html}" method="post">
										<input type="hidden" name="consentId"
											th:value="${consentEntry.id}" />
										<input type="hidden" name="doctype"
											th:value="${'consent'}"/>
									</form>
									
									<form th:name="@{'revokation_download_' + ${consentEntry.id}}"
										th:action="@{/consents/downloadPdf.html}" method="post">
										<input type="hidden" name="consentId"
											th:value="${consentEntry.id}" />
										<input type="hidden" name="doctype"
											th:value="${'revokation'}"/>
									</form>

									<form th:name="@{'consent_sign_' + ${consentEntry.id}}"
										th:action="@{/consents/signConsent.html}" method="post">
										<input type="hidden" name="consentId"
											th:value="${consentEntry.id}" />
									</form>

									<div class="top-margin10">
										<ul id="consent-3buttons" role="list"
											class="list-inline unstyled pull-right">

											<li th:switch="${consentEntry.consentStage}"
												class="help-inline" role="listitem">
												<span th:case="${0}">
												<a href="#"
												th:href="@{'javascript:document.' + 'consent_edit_' + ${consentEntry.id} + '.submit()'}"
												class="btn btn-sm btn-info" th:text="#{list_consent_edit_consent}">Edit</a>
												<a href="#"
												th:href="@{'javascript:document.' + 'consent_download_' + ${consentEntry.id} + '.submit()'}"
												class="btn btn-sm btn-info" th:text="#{list_consent_preview_consent}">Preview this Consent</a>
												</span> 
												<span  th:case="${1}">
												<a href="#"
												th:href="@{'javascript:document.' + 'consent_download_' + ${consentEntry.id} + '.submit()'}"
												class="btn btn-sm btn-primary" th:text="#{list_consent_view_consent}">View this Consent</a>												 
												</span>
												
												<span  th:case="${2}">
												<a href="#"
												th:href="@{'javascript:document.' + 'consent_download_' + ${consentEntry.id} + '.submit()'}"
												class="btn btn-sm btn-primary" th:text="#{list_consent_view_signed_consent}">View Signed Consent</a>
												</span>
											</li>



												<li th:switch="${consentEntry.consentStage}"
												class="help-inline" role="listitem">
												
												<span th:case="${1}">
												<a href="#" class="btn btn-sm btn-warning"
												onclick="window.open('toEmail.html')" th:text="#{list_consent_go_mailbox}">Go to Your Mailbox</a>
												</span>
												
												<span th:case="${0}">
												<a href="#"
												th:href="@{'javascript:document.' + 'consent_sign_' + ${consentEntry.id} + '.submit()'}"
												class="btn btn-sm btn-success" th:text="#{list_consent_submit}">Submit</a> 
												</span> 
												</li>

																                	<li th:switch="${consentEntry.consentStage}" class="help-inline" role="listitem">
																                	<a th:case="${2}" href="#" th:href="@{'exportXACMLConsents/'+ ${consentEntry.id}}" class="btn btn-sm btn-success">  Export to XACML</a>
																                	</li>
											<li class="help-inline" role="listitem"></li>

											<!-- Button to trigger modal -->
											<li th:switch="${consentEntry.revokeStage}" class="help-inline" role="listitem">
											
												<span th:case="${0}">
													<a  th:id="@{'revoke'+${consentEntry.id}}" class="btn btn-default btn-sm revokation-button" href="#revoke-modal"
														role="button" data-edit-button="#content1"
														data-toggle="modal" th:text="#{list_consent_withdrawal}">Withdrawal</a> 
												</span>	
												
												<span th:case="${1}">	
													<a class="btn btn-default btn-sm btn-inactive" role="button">
														<div style="margin-right: 4px; margin-left: -4px" class="fa fa-refresh fa-spin"></div>
														<span th:text="#{list_consent_withdrawal_in_progress}">Withdrawal In Progress</span>
													</a>
												</span>
												
												<span th:case="${2}">			
													<a  href="#" class="btn btn-sm btn-primary"
														th:href="@{'javascript:document.' + 'revokation_download_' + ${consentEntry.id} + '.submit()'}"
														th:text="#{list_consent_view_signed_revocation}">View Signed Revocation</a>
												</span>
														
												<span th:case="${4}">
													<form th:name="@{'form_delete_' + ${consentEntry.id}}" th:action="@{deleteConsents}" method="post">
														<input type="hidden" name="consentId" th:value="${consentEntry.id}"/>
														<a th:href="@{'javascript:document.' + 'form_delete_' + ${consentEntry.id} + '.submit()'}"
															onclick="return confirm('Are you sure you want to delete this consent?')"
															class="btn btn-sm btn-danger" th:text="#{list_consent_delete}">Delete</a>
													</form>			
												</span>
											</li>

										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</section>
						
					</div>
				</div>
				<!--end main.col-md-10-->
			</div>
			<!-- end content line 96-->
			<!-- END: Content Region -->

			<!-- Modal 1-->
			<div id="revoke-modal" class="modal fade" tabindex="-1"
				role="dialog" aria-labelledby="clinical-annotation-modal"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">X</button>
							<p class="h3-style">Withdrawal of Consent to Participate in C2S</p>
						</div>
		
						<div class="modal-body">
							<div>
								<div class="alert alert-warning">
									<span>Withdrawal of Consent to Participate in Health
										Information Exchange</span>
								</div>
		
								<div class="row col-sm-12">
									<div class="row">
										<div class="col-sm-12">I have previously signed a patient
											consent form allowing my providers to access my electronic
											health records through the Consent 2 Share system and now want
											to withdraw that consent. If I sign this form as the Patient's
											Legal Representative, I understand that all references in this
											form to "me" or "my" refer to the Patient.</div>
									</div>
		
									<div class="row">
										<div class="col-sm-12 top-margin10">By withdrawing
											my Consent, I understand that:</div>
									</div>
		
		
									<div class="row">
										<div class="col-sm-12 top-margin10">1) I have two options for
											denying consent</div>
									</div>
								</div>
		
								<form class="row col-sm-11 col-sm-offset-1" id="consentRevokationForm" th:action="@{/consents/signConsentRevokation}" method="post" style="z-index:1;">
									<ul>
										<li>
											<div class="col-sm-12 top-margin10">
												<div class="col-sm-3">
													<label class="radio"> <input name="revokationType" type="radio"
														id="optionsRadio1" value="EMERGENCY ONLY" /> <strong>No
															Except</strong>
													</label>
												</div>
												<div class="col-sm-8">
													I Deny Consent for all Participants to access my electronic
													health information through Consent 2 Share for any purpose, <em>EXCEPT
														in a medical emergency.</em> By checking this box you agree, "No,
													none of the Participants may be given access to my medical
													records through Consent 2 Share unless it is a medical
													emergency."
												</div>
											</div>
										</li>
										<hr class="top-margin10 col-sm-11"></hr>
		
										<li>
											<div class="col-sm-12 top-margin10">
												<div class="col-sm-3">
													<label class="radio"> <input name="revokationType" type="radio"
														id="optionsRadio2" value="NO NEVER" /> <strong>No
															Never</strong>
													</label>
												</div>
												<div class="col-sm-8">
													I Deny Consent for all Participants to access my electronic
													health information through Consent 2 Share for any purpose, <em>INCLUDING
														in a medical emergency.</em>
												</div>
											</div>
										</li>
									</ul>
								</form>
		
								<div class="row col-sm-12">
									<div class="row">
										<div class="col-sm-12 top-margin10">2) Health care provider
											and health insurers that I am enrolled with will no longer be
											able to access health information about me through Consent 2
											Share, except in an emergency unless I choose the No Never
											option above.</div>
									</div>
									<div class="row">
										<div class="col-sm-12 top-margin10">3) The Withdrawal of
											Consent will not affect the exchange of my health information
											while my Consent was in effect.</div>
									</div>
									<div class="row">
										<div class="col-sm-12 top-margin10">4) No Consent 2 Share
											participating provider will deny me medical care and my
											insurance eligibility will not be affected based on my
											Withdrawal of Consent.</div>
									</div>
									<div class="row">
										<div class="col-sm-12 top-margin10">5) If I wish to reinstate
											Consent, I may do so by signing and completing a new Patient
											Consent form and returning it to a participating provider or
											payer.</div>
									</div>
									<div class="row">
										<div class="col-sm-12 top-margin10">6) Withdrawing my consent
											does not prevent my health care provider from submitting claims
											to my health insurer for reimbursement for services rendered to
											me.</div>
									</div>
									<div class="row">
										<div class="col-sm-12 top-margin10">7) I understand that I
											will get a copy of this form after I sign it.</div>
									</div>
								</div>
		
							</div>
						</div>
		
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button class="btn btn-success" id="signRevokation">
								<span style="margin-right: 10px" class="fa fa-edit"></span>
								Sign
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- end first row -->
	</div>
	<!-- end Container -->
	
	<span th:each="consentEntry:${listConsentDtos}">
		<input type="hidden" class="consent-entry-input" th:id="'consentEntryID'+${consentEntry.id}" th:value="${consentEntry.id}" th:attr="data-consentstage=${consentEntry.consentStage}, data-revokestage=${consentEntry.revokeStage}" />
	</span>
	
	<!-- START: Footer Region -->
	<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<div>

			<!-- COMPONENT: Copyright Information -->
			<p class="top-margin10 pull-left">
				&copy; <a class="footer-link" href="" target="_blank">A SAMHSA
					Public Service</a> 2013
			</p>

		</div>
	</footer>

	<!-- END: Footer Region -->
	
</div>

	<!-- START: JavaScript-->

	<script src="../../../resources/js/jquery.toggle.buttons.js"
		th:src="@{/resources/js/jquery.toggle.buttons.js}"
		type="text/javascript"></script>
	<script src="../../../resources/js/bootstrap-datepicker.js"
		th:src="@{/resources/js/bootstrap-datepicker.js}"
		type="text/javascript"></script>
	<script src="../../../resources/js/jquery.cookie.js"
		th:src="@{/resources/js/jquery.cookie.js}" type="text/javascript"></script>
	<script src="../../../resources/js/modernizr.mq.js"
		th:src="@{/resources/js/modernizr.mq.js}" type="text/javascript"></script>
		
	<!-- Custom JS Script -->
	<script src="../../../resources/js/consent/listConsent.js" 
			th:src="@{/resources/js/consent/listConsent.js}"
			type="text/javascript"></script>
	<!-- END: JavaScript-->

</body>
</html>
