<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:include="fragment/common :: headerFragment" > 
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../../resources/css/sentinel-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<!-- END: CSS -->
<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>

<body>
    <!-- START: Page Header -->

    <div id="upload-main" class="container-fluid">
    
    <div class="navbar">
        <div class="navbar-inner-header">
            <div class="container-fluid">
            
           		<a class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-reorder"></span>
				</a>

				<h1><span class="nav-title">My Medical Information</span></h1>
				
				<span th:include="fragment/common :: logoFragment">
					<a class="brand" th:href="@{/index.html}"  href="index.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a>
				</span>
				
				<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment" class="btn-group pull-right">
					<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
						<a class="btn" href="#">
							<span class="icon-envelope"></span><span class="hidden-phone hidden-tablet"> Message Center</span> 
							<span class="label label-warning hidden-phone">3</span> 
							<!-- <span class="label label-success hidden-phone">1</span>
							<span class="label label-important hidden-phone">2</span> -->
						</a>
					
						<!-- COMPONENT: User Dropdown -->
					
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="icon-user">&nbsp;</span><span class="hidden-phone hidden-tablet" th:text="#{header_my_account}"> My Account</span>
							<span class="caret"></span>
						</a>
						
						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html" th:href="@{/patients/profile.html}" th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html" th:href="@{/patients/profile.html}" th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}" th:text="#{header_logout}">Logout</a></li>
						</ul>
						
					<!-- END OF SECTION REPLACED BY THYMELEAF -->
					</div>
           
           </div>
        </div>
    </div>

    <div id="under-header"></div>
    
    <!-- END : Page Header -->

        <div id="content" class="row-fluid main-content-wrapper">
        
        	<!-- START: Side Nav Menu -->

				<div th:include="fragment/common :: sideNavMenuFragment" class="span2 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div class="nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-tablet" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="../home.html">
								<div class="icon-home icon-large"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="icon-file"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="icon-random"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="icon-user"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="icon-inbox"></div>
									<span class="hidden-tablet" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="activityHistory.html"><div class="icon-time"></div>
									<span class="hidden-tablet" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="icon-folder-open"></div>
									<span class="hidden-tablet" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="icon-unlock-alt"></div>
									<span class="hidden-tablet" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="icon-off"></div>
									<span class="hidden-tablet" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

	<!-- END: Side Nav Menu -->
                       
           <!-- JavaScrip Enable Message -->
           <noscript>
            <div class="alert alert-block span10">
                <p class="h4-style alert-heading">Warning!</p>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
          </noscript> 
          
          
          <!-- !START: Content Region-->

            <div class="span10">
                <div class="row-fluid">
                    <!-- !SECTION: Provider Lookup -->
                    <div class="span9">
                    
                        <section class="top-margin10">
                            <div class="form-horizontal">
			                    <fieldset>
			                        			                        
			                    </fieldset>
		                    </div>
                        </section>
                    
                    </div><!-- end box span9XXX -->
                    <div class="span9">
                    	<section>
	                    	<fieldset class="row-fluid">
							    <legend class="media bottom-margin10">Manage My Medical Information</legend>
			
			                        
			                        <div class="top-margin10">
							        <p class="h4-style">Medical Document Management</p>
							        </div>
							    
							        <p class="top-margin10">Choose to upload your electronic Medical Documents. Or you may enter your medical information manually.</p>
							    
							    <br/>
							    
							    <section>
								    <div>
								    	<label>If you have electronic versions of your Medical Records, you may upload them here.</label>
								    	<button class="btn btn-primary" onClick="window.location.href='clinicaldocuments.html'" style="margin: 0 10px 10px 0;">Upload Medical Documents</button>
								    </div>
								    <div class="top-margin10">
								    	<label>If you do not have an existing electronic Medical Record, you may manually enter your medical information here.</label>
								    	<button class="btn btn-info">Manually Enter Medical Information</button>
								    </div>
							    </section>
							    <!-- The file upload form used as target for the file upload widget -->

							    <br/>
							    <div class="well alert top-margin10">
							        <p><strong>Available for use.</strong> This box may or may not be here at a later point in time.</p>
							    </div>

	                    	</fieldset>
                    	</section>
                    </div>
                </div><!-- end row-fluid -->
            </div><!-- end span10-->
        </div><!-- end content row-fluid -->
        <!-- END: Content Region -->
        <!-- ELEMENT: Divider -->

        <div class="clearfix"></div>
  
		<!-- START: Footer Region -->
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>

		</footer>
		
		<!-- END: Footer Region -->

    </div><!-- end container-fluid -->
        	<!-- START: JavaScript-->

		<script src="../../resources/js/jquery-1.7.2.min.js" th:src="@{/resources/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
		<noscript>Alternate content for script</noscript>
		<script src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>
		<noscript>Alternate content for script</noscript>

		<!-- JavaScript Functions -->
		<script type="text/javascript">	
		
			$(document).ready(function(){
			
			});			
		
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->
</body>
</html>
