<?xml version="1.0" encoding="UTF-8" ?>

<included>

	<property name="APP_LOG_FOLDER" value="C:\\java\\C2S_LOGS\\provider-web" />
	<property name="LOG_NAME" value="provider-lookup" />

	<property name="com.feisystems.provider_lOGGER.level" value="warn" />

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
			</pattern>
		 </encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${APP_LOG_FOLDER}/${LOG_NAME}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${APP_LOG_FOLDER}/${LOG_NAME}.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>

		</rollingPolicy>

		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n
			</Pattern>
		</encoder>

	</appender>

	<logger name="com.feisystems.provider" level="${com.feisystems.provider_lOGGER.level:-warn}"></logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</included>
