<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<link rel='stylesheet'
			href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.0.0/css/bootstrap.min.css}" />
		<link rel='stylesheet'
			th:href="@{/webjars/bootstrap/3.0.0/css/bootstrap-theme.min.css}" />
		<script type='text/javascript'
			th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
		<script type='text/javascript'
			th:src="@{/webjars/bootstrap/3.0.0/js/bootstrap.min.js}"></script>
		<script type='text/javascript'
			src="resources/js/pixMgrActions.js" 	
			th:src="@{resources/js/pixMgrActions.js}"></script>	
							
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PIX Manager Admin Page</title>
	</head>
	<body>
		<nav class="navbar-wrapper navbar-default navbar-fixed-top">
	
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">PIX MGR Activities</a>
				</div>
			</div>
	
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
								Add Person<b class="caret"></b></a>
							<ul class="dropdown-menu" id="addPersonddm">
								<li><a href="xml/PRPA_IN201301UV02_PIXADD_UVD_Req.xml">unKnownDomain</a></li>
								<li><a 
									href="xml/PRPA_IN201301UV02_PIXADD_VD1_Req.xml">D-NIST2010</a></li>
								<li><a id="validDomain-2"
									href="xml/PRPA_IN201301UV02_PIXADD_VD2_Req.xml">D-NIST2010-2</a></li>
								<li><a id="validDomain-3"
									href="xml/PRPA_IN201301UV02_PIXADD_VD3_Req.xml">D-NIST2010-3</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
								Update Person<b class="caret"></b></a>
							<ul class="dropdown-menu" id="updatePersonddm">
								<li><a href="xml/PRPA_IN201302UV02_PIXUpdate_UVD_Req.xml">unKnownDomain</a></li>
								<li><a href="xml/PRPA_IN201302UV02_PIXUpdate_Addr_Req.xml">U-Address</a></li>
								<li><a href="xml/PRPA_IN201302UV02_PIXUpdate_Gender_Req.xml">U-Gender</a></li>
								<li><a href="xml/PRPA_IN201302UV02_PIXUpdate_DOB_Req.xml">U-DOB</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
								Query Person<b class="caret"></b></a>
							<ul class="dropdown-menu" id="queryPersonddm">
								<li><a href="xml/PRPA_IN201309UV02_PIXQuery_UVD_Req.xml">unKnownDomain</a></li>
								<li><a href="xml/PRPA_IN201309UV02_PIXQuery_VD1INVD2_Req.xml">G-NIST2010-R-NIST2010-2</a></li>
								<li><a href="xml/PRPA_IN201309UV02_PIXQuery_VD1INVD2N3_Req.xml">G-NIST2010-R-NIST2010-2N3</a></li>
								<li><a href="xml/PRPA_IN201309UV02_PIXQuery_VD1INALL_Req.xml">G-NIST2010-R-AL</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
	
				</div>
			</div>
			
			<div th:with="condition=${isAdd}" th:remove="tag">
				<div id="addPersonFrmDiv" >
					<form id="addPersonForm"  th:action="@{main/pixadd}"  method="post">
							<div class="container-fluid">
								<div class="jumbotron">
									<input type="text" name="xmlFilePath" size="70" id="xmlFilePath" />
									<a id="AddNow" class="btn btn-primary btn-lg">Add Now!</a>
			<!-- style="display:none"					<p th:text="${message}" th:text="${firstName}"  th:text="${lastName}". Your details stored in our database. > </p>
			 -->
									 <div id="addMsgDiv" th:text="${addMessage}"></div>	
								</div>
							</div>
					</form>	
				</div>
			</div>
			
			<div id="updatePersonFrmDiv" >
				<form id="updatePersonForm"  th:action="@{main/pixupdate}"  method="post">
						<div class="container-fluid">
							<div class="jumbotron">
								<input type="text" name="xmlFilePath" size="70" id="xmlFilePath" />
								<a id="UpdateNow" class="btn btn-primary btn-lg">Update Now!</a>
	<!-- 							<p th:text="${message}" th:text="${firstName}"  th:text="${lastName}". Your details stored in our database. > </p>
	 -->
								 <div id="updateMsgDiv" th:text="${updateMessage}"></div>	
							</div>
						</div>
				</form>	
			</div>

			
			<div id="queryPersonFrmDiv" >
				<form id="queryPersonForm"  th:action="@{main/pixquery}"  method="post">
						<div class="container-fluid">
							<div class="jumbotron">
								<input type="text" name="xmlFilePath" size="70" id="xmlFilePath" />
								<a id="QueryNow" class="btn btn-primary btn-lg">Query Now!</a>
	<!-- 							<p th:text="${message}" th:text="${firstName}"  th:text="${lastName}". Your details stored in our database. > </p>
	 -->
								 <div id="queryMsgDiv" th:text="${queryMessage}"></div>	
							</div>
						</div>
				</form>	
			</div>
			
	</nav>
		
	
	</body>
</html>