<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" > 
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css"
		rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css"
		rel="stylesheet"/>
	<link href="../../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/sentinel-style.css" rel="stylesheet"/>
	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
</head>
<body id="myhome-page">

<div class="container outmost-holder">
	<!-- !START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Home',currentPageURI='/patients/home.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragment">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a th:include="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-reorder"></span>
					</a>
					<h1>
						<span class="nav-title">My Home</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
							<span id="watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
					
					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-flag"></span>
							<span class="hidden-sm hidden-md"> Language</span>
							<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
							class="hidden-sm hidden-md"> Message Center</span> <span
							class="label label-warning hidden-sm">3</span>
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
			
			
			<div id="event_notification_bar" th:switch="${notifyevent}">
				<span th:case="'passChangeSuccess'">
					<div class="alert alert-success rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			You have successfully changed your password!
					</div>
				</span>
			</div>

			
			<div id="notification_bar" th:switch="${notification}">
				<span th:case="'notification_add_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			<strong>Welcome <span th:object="${currentUser}" th:text="*{firstName + ' ' + lastName}"></span> to Consent2Share!</strong> To create and manage your consents, you must add at least two providers. Please go to <a href="connectionMain.html"><strong>My Providers</strong></a> to begin this process.
					</div>
				</span>
				
				<span th:case="'notification_add_second_provider'">
						<div class="alert alert-info rounded">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
	  		    			Before you can create consents, you need to add a second provider. Please go to <a href="../patients/connectionMain.html"><strong>My Providers</strong></a> to begin this process.
						</div>
				</span>
				
				<span th:case="'notification_add_consent'">
					<div class="alert alert-success rounded">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    		To create your consent, go to <a href="../consents/listConsents.html"><strong>My Consents</strong></a> to add a new consent.
					</div>
				</span>
				<span th:case="'notification_review_sign_consent'">
					<div class="alert alert-success rounded">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
	  		    	You have an unsigned consent.  Please go to <a href="../consents/listConsents.html"><strong>My Consents</strong></a> to review and sign your consent.
				    </div>
				</span>
			    
					<span th:case="'notification_sign_consent'">
				    <div class="alert alert-info rounded">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							You have an unsigned consent. To sign your consent, Please check your <a href="../inbox/inboxMain.html"><strong>Message Center</strong></a> or the e-sign email sent to your email account.
					</div>
					</span>
			</div>
				
		</div>
		</header>
		<div id="under-header"></div>

		<!-- END : Page Header -->
	<div id="home-page" class="container">

		<div class="row main-content-wrapper">
			<div class="top-margin10">
				<!-- !START: Patient Information -->
				<div id="section-header" th:object="${currentUser}">
					<div>
						<img class="dashboard-avatar" alt="Lucas" src="../../../resources/img/avatar.gif"
						th:src="@{/resources/img/avatar.gif}"/>
					</div>
					<div class="person" th:text="*{firstName + ' ' + lastName}">John Doe</div>
					<div class="gender" th:text="*{genderDisplayName}">Male</div>
					<div class="birth-date" th:text="*{birthDate==null}?  '' : *{#dates.format(birthDate, 'MM/dd/yyyy')}">10/20/1980</div>
					<span class="divider"></span>
				</div>
			</div>

			<!-- END: Patient Information -->

			<div id="content">
				<!-- START: Side Nav Menu -->

				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div id="sidenavMenu" class="navbar-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="#">
								<div class="glyphicon-home glyphicon-large"></div>
									<span class= "hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
									<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
									<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
									<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
									<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
									<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
									<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
									<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript th:substituteby="fragment/common :: noscriptFragment">
					<div class="alert alert-warning col-md-10 col-sm-9">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
					</div>
				</noscript>

				<!-- START: Content Region-->

				<div id="page-subcontent-holder" class="col-sm-9 col-md-10">
					<div class="row">

						<!-- COMPONENT: InBox -->

						<div class="box">
							<div class="box-header">
								<h2>
									<span class="glyphicon glyphicon-inbox"></span><span class="break"></span>Message Center
								</h2>
								<div class="box-icon"></div>
							</div>
							<div class="box-content">
								<ul class="dashboard-list">
									<li><a href="#">
											<div class="fa fa-envelope" style="margin-right: 12px;"></div><span class="fa fa-paperclip" style="width: 18px; margin-right: 1px;"></span>
											mastercareinc@consent2share.com
										</a> 
										<span style="font-size: small; font-weight: bold; color: #3e3e3e;"><span style="margin: 0 15px;">Subject: Please review</span><span>Fri 7/26/2013 1:12 PM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Dear Albert Smith, Please review your medical information and sign when ready.</em></div></span></li>
									<li><a href="#">
											<div class="fa fa-envelope" style="margin-right: 12px;"></div>
											michaelgrimes@consent2share.com
										</a> 
										<span style="font-size: small; font-weight: bold; color: #3e3e3e;"><span style="margin: 0 15px;">Subject: Please review</span><span>Fri 7/21/2013 4:37 PM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Dear Albert Smith, Please review your medical information and sign when ready.</em></div></span></li>
									<li><a href="#">
											<div class="fa fa-flag-o" style="margin-right: 12px;"></div>
											Consent2Share
										</a> 
										<span style="font-size: small; color: #3e3e3e; font-weight: bold;"><span style="margin: 0 15px;">Subject: Welcome!</span><span>Fri 7/10/2013 10:01 AM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Welcome Albert Smith! Log in to begin using your Consent2Share.</em></div></span></li>
								</ul>
							</div>
						</div>

			<!-- COMPONENT: Education -->				
		
			<div>
				<div class="box">
					<div class="box-header">
						<h2>
							<span>
								<span class="fa fa-bookmark"></span><span class="break"></span>
							</span>
							Learn about Privacy and Consent
						</h2>
					</div>
						<div class="box-content">
							<ul class="dashboard-list">
								<li>
									<a href="#" data-toggle="modal" data-target="#what-is-a-consent-modal">
										<div class="fa fa-film" style="margin-right: 10px;"></div>                 
										What is consent 2 share technology?                                   
									</a>
								</li>
								<li>
									<a href="#">
										<div class="fa fa-info-circle" style="margin-right: 12px;"></div>                               
										Why is my health privacy important?                                    
									</a>
								</li>
								<li>
									<a href="#">
										<div class="fa fa-info-circle" style="margin-right: 12px;"></div>                               
										How do I create a consent?                                    
									</a>
								</li>
								<li>
									<a href="#">
										<div class="fa fa-info-circle" style="margin-right: 12px;"></div>                               
										Why do you need to know my demographic information?                                    
									</a>
								</li>
							</ul>
						</div>
					</div>		
			</div>	
							
			<!-- Modal -->
			<div id="what-is-a-consent-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="What is a Consent?" aria-hidden="true">
				<div class="modal-dialog">
				   <div class="modal-content">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    <h4 id="myModalLabel" class="modal-title">What is Consent 2 Share technology?</h4>
					  </div>
					  <div class="modal-body">
					    <p><iframe src="https://www.youtube.com/embed/M7ttn21jVfI?feature=player_detailpage" allowfullscreen="true" style="border:none;"></iframe>
						    <div>
							    <strong>Media Type:</strong> <span class="label label-info">Video</span><br/>
							    <strong>Length:</strong> 4:00 min <br/>
							    <strong>Summary:</strong> At the conclusion of this video, viewers will understand how technology enables electronic care coordination using a fictitious patient's health privacy preferences and ultimately their health records between care providers.  
						    </div>
					    </p>
					    
					  </div>
					  <div class="modal-footer">
					    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	</div><!--/#content.col-md-10-->
			</div><!--/fluid-row-->
<!-- END: Content Region -->
</div>
</div>
<!-- START: Footer Region -->
<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">

		<!-- COMPONENT: Copyright Information -->
		<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
</footer>
<!-- END: Footer Region -->
</div>	
	

</body>
</html>
