<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" > 
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../../resources/css/sentinel-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<!-- END: CSS -->
<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>

<body>

	<!-- START: Page Header -->

	<!-- END : Page Header -->

	<div class="container-fluid">
		<div class="navbar" role="navigation">
			<div class="navbar-inner-header">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
					</a>
					<h1>
						<span class="nav-title">My Profile</span>
					</h1>
					<a class="brand" th:href="@{/index.html}"  href="index.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a> 

					<!-- COMPONENT: Header Menu-->

					<div class="btn-group pull-right">
						<a class="btn" href="#"> <span class="icon-envelope"></span>
							<span class="hidden-phone hidden-tablet"> Message Center</span> 
							<span class="label label-warning hidden-phone">3</span> 
							<!-- <span class="label label-success hidden-phone">1</span> 
							<span class="label label-important hidden-phone">2</span> -->
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn dropdown-toggle" data-toggle="dropdown" href="home.html">
							<span class="icon-user"></span><span
							class="hidden-phone hidden-tablet"> My Account</span> <span
							class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="#">My Profile</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="change-password.html">Change Password</a></li>
							<li role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}">Logout</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div id="under-header"></div>
		<div class="row-fluid main-content-wrapper">
			<div id="content">

				<!-- START: Side Nav Menu -->

				<div class="span2 main-menu-span">
					<div class="nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-tablet" role="menuitem"></li>
							<li role="menuitem"><a href="home.html"><div
										class="icon-home"></div> <span class="hidden-tablet">
										My Home</span></a></li>

							<li role="menuitem"><a href="../consent/listConsents.html" th:href="@{/consents/listConsents.html}"><div
										class="icon-file"></div> <span class="hidden-tablet">
										My Consents</span></a></li>

							<li role="menuitem"><a href="connectionMain.html"><div
										class="icon-random"></div> <span class="hidden-tablet">
										My Providers </span></a></li>
							<li class="active" role="menuitem"><a href="#"><div class="icon-user icon-white icon-large"></div><span class="hidden-tablet"> My Profile</span></a></li>

							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="icon-inbox"></div>
									<span class="hidden-tablet" th:text="#{sidebar_in_box}"> Message Center</span></a></li>

							<li role="menuitem"><a href="activityHistory.html"><div class="icon-time"></div>
									<span class="hidden-tablet"> Activity History</span></a></li>

							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div
										class="icon-folder-open"></div> <span class="hidden-tablet">
										Medical Documents</span></a></li>
						</ul>
					</div>
				</div>

				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript>
					<div class="alert alert-block span10">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>
							You need to have <a
								href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
							enabled to use this site.
						</p>
					</div>
				</noscript>



				<!-- START: Content Region-->

				<div role="main" class="span10">
					<div class="row-fluid">

						<!-- COMPONENT: Healthcare Providers -->

						<div class="span10">
						    
						    <h3 th:text="${updatedMessage}">Updated your profile successfully.</h3>
						    
							<section class="top-margin10">
								<form action="#" th:action="@{/patients/profile.html}"
									th:object="${patientProfileDto}" method="post">									
									<fieldset id="edit-login-required" class="row-fluid">
										
										<!-- <ul th:if="${#fields.hasErrors('*')}">
											<li th:each="err : ${#fields.errors('*')}" th:text="${err}"
												style="color: red;">Input is incorrect</li>
										</ul> -->

										<legend>Edit Required Account Information</legend>

										<div class="control-group">
											<div>
												<div>
													<label for="first_name">First Name</label>													  
												</div>
												<div class="inline-block">
													<input id="first_name" name="firstname" type="text"	 aria-required="true" th:field="*{firstName}" />
													<span class="required-text" th:errors="*{firstName}">First name is required.</span>
												</div>
											</div>
											
											<div>
												<div>
													<label for="last_name">Last	Name</label> 													
												</div>
												<div class="inline-block">
													<input id="last_name" name="lastname" type="text"  aria-required="true"	th:field="*{lastName}" /> 
													<span class="required-text" th:errors="*{lastName}">Last name must be between 2 and 30 characters.</span>
												</div>
											</div>
											
											<div>
												<div>
													<label class="control-label">Gender</label>
												</div>													
												<div class="controls inline-block ">
													<select th:field="*{administrativeGenderCode}">
														<option selected="selected" value="">--- Please
														Select ---</option>
														<option th:each="gender : ${administrativeGenderCodes}"
														th:value="${gender.code}" th:text="${gender.displayName}">F</option>
													</select>
													<span class="required-text" th:errors="*{administrativeGenderCode}">Gender Selection is required.</span>
												</div>
											</div>


											<div class="summary-container">
												<div>
													<label for="date-picker-birthdate">Date of Birth</label>
												</div>
												<div class="input-append datepicker date inline-block" data-date="1/01/2013" data-date-format="mm/dd/yyyy">
													<input size="16" type="text"  th:field="*{birthDate}" id="date-picker-birthdate"/>
													<span class="add-on"><span class="icon-th"></span></span>																										
												</div><span class="required-text" th:errors="*{birthDate}">Date of Birth is required.</span>											
											</div>		
												
											<div>
												<div>
													<label for="email">Email</label>
												</div>
												<div class="inline-block">													
													<input id="email" name="email" type="text"  aria-required="true" th:field="*{email}" />
													<span class="required-text" th:errors="*{email}">Please provide a valid email address.</span>
												</div>
											</div>

											<!-- <div class="username-container">
												<label for="user_name">User Name</label> <input
													id="user_name" name="username" type="text"
													 aria-required="true"
													th:field="*{username}" /> <label for="password">Password</label>
												<input id="password" name="password" type="password"
													 aria-required="true"
													th:field="*{password}" />

												<div role="region" class="progress-wrapper">
													<label>Password Strength:</label>
													<div id="passwordstrength" aria-live="polite"
														aria-atomic="false"
														class="progress progress-success progress-style span4">
														<div class="bar"></div>
													</div>

												</div>
											</div> -->
										</div>

										<div style="clear: both"></div>
									</fieldset>

									<fieldset id="edit-login-additional" class="row-fluid">

										<legend>Edit Additional Account Information</legend>

										<div class="username-container">
											<p>Address</p>
											<label for="street">Street Address</label> 
											<input id="street" name="streetAddressLine" type="text" th:field="*{addressStreetAddressLine}" /> 
											<label for="city">City</label>
											<input id="city" name="city" type="text" th:field="*{addressCity}" />

											<label for="state">State</label> 
											<select id="state" th:field="*{addressStateCode}">
												<option selected="selected" value="">--- Please Select ---</option>
												<option th:each="addressState : ${stateCodes}" th:value="${addressState.code}" th:text="${addressState.displayName}">Alabama</option>
											</select> 
											<div>
												<div>
													<label for="zip">Zip Code</label>
												</div>
												<div class="inline-block"> 
													<input id="zip" name="postalCode" type="text" th:field="*{addressPostalCode}" />
													<span class="required-text" th:errors="*{addressPostalCode}">Please provide a valid Zip Code.</span>
												</div>
												
													
												</div>
											</div>
										
										<div class="control-group">

											<div>
												<div>
													<label for="phone">Phone Number</label> 
												</div>
												<div class="inline-block">
													<input id="phone" name="telephone" type="text" th:field="*{telephoneTelephone}" />												
													<span class="required-text" th:errors="*{telephoneTelephone}">Please provide a valid phone number. For example 123-456-7890.</span>
												</div>
											</div>
											
											<div>
												<div>
													<label for="socialsecurity">Social Security Number</label> 
												</div>
												<div class="inline-block">
													<input id="socialsecurity" name="socialSecurityNumber" type="text" th:field="*{socialSecurityNumber}" />
													<span class="required-text" th:errors="*{socialSecurityNumber}">Please provide a valid social security number. For example 123-45-6789.</span>
												
												</div>
											</div>
													
													<label class="control-label">Marital Status</label>
													<div class="controls">
														<select th:field="*{maritalStatusCode.code}">
															<option selected="selected" value="">--- Please
																Select ---</option>
															<option th:each="maritalStatus : ${maritalStatusCodes}"
																th:value="${maritalStatus.code}"
																th:text="${maritalStatus.displayName}">Married</option>
														</select>
													</div>
												

											<label class="control-label">Religious Affiliation</label>
											<div class="controls">
												<select th:field="*{religiousAffiliationCode.code}">
													<option selected="selected" value="">--- Please
														Select ---</option>
													<option
														th:each="religiousAffiliation : ${religiousAffiliationCodes}"
														th:value="${religiousAffiliation.code}"
														th:text="${religiousAffiliation.displayName}">Voodoo</option>
												</select>
											</div>

											<label class="control-label">Race/Ethnicity</label>
											<div class="controls">
												<select th:field="*{raceCode.code}">
													<option selected="selected" value="">--- Please
														Select ---</option>
													<option th:each="race : ${raceCodes}"
														th:value="${race.code}" th:text="${race.displayName}">White</option>
												</select>
											</div>

											<label class="control-label">Primary Language Spoken</label>
											<div class="controls">
												<select th:field="*{languageCode.code}">
													<option selected="selected" value="">--- Please
														Select ---</option>
													<option th:each="language : ${languageCodes}"
														th:value="${language.code}"
														th:text="${language.displayName}">English, US</option>
												</select>
											</div>
										</div>
										<!-- what -->
										<div style="clear: both"></div>

										<div class="control-group bottom-btn-group">
											<div class="controls">
												<button type="button" class="btn" onClick="window.location.href='home.html'" style="margin: 0 10px 0 0;">Cancel</button>
												<input type="submit" value="Save" class="btn btn-primary" />

												
											</div>
										</div>
									</fieldset>
								</form>
							</section>

						</div>


						<!-- COMPONENT: Connections -->


					</div>
				</div><!--/#content.span10-->
			</div><!--/fluid-row-->
			<!-- END: Content Region -->



			<!-- ELEMENT: Divider -->


			<!-- START: Footer Region -->


			<!-- END: Footer Region -->

		</div>

		<ol id="tourtest">
			<li data-id="add-provider-btn" class="user-guide"><img
				class="number-icon" src="../../../resources/img/number-01.png"
				alt="step-01" width="20" height="20"
				th:src="@{/resources/img/number-01.png}" />Click the plus button
				to add a Healthcare Provider to your health records.
				<div class="disclaimer">Always consult your doctor or
					physician to discuss any potential health risks.</div></li>
			<li data-id="add-friend-btn" class="user-guide"><img
				class="number-icon" src="../../../resources/img/number-02.png"
				th:src="@{/resources/img/number-02.png}" alt="step-01" width="20"
				height="20" />Additional information to go here.
				<div class="disclaimer">Always consult your doctor or
					physician to discuss any potential health risks.</div></li>
		</ol>

		<div class="clearfix"></div>
		<!-- START: Footer Region -->
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
		<!-- COMPONENT: Action Buttons -->
				<!--
				<a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary pull-right">Save changes</a>
				-->
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>

		</footer>
		
		<!-- END: Footer Region -->
	</div>

<!-- START: JavaScript-->

<script src="../../../resources/js/jquery.min.js" 
				th:src="@{/resources/js/jquery.min.js}" 
				type="text/javascript">
		</script><noscript>Alternate content for script</noscript>
				<script src="../../../resources/js/bootstrap.min.js"
				th:src="@{/resources/js/bootstrap.min.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../../resources/js/jquery.toggle.buttons.js"
				th:src="@{/resources/js/jquery.toggle.buttons.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../../resources/js/bootstrap-datepicker.js"
				th:src="@{/resources/js/bootstrap-datepicker.js}" 
				type="text/javascript"></script><noscript>Alternate content for script</noscript>
		<script src="../../../resources/js/bootstrap-popover.js"
				th:src="@{/resources/js/bootstrap-popover.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/jquery.joyride-2.0.3.js" 
				th:src="@{/resources/js/jquery.joyride-2.0.3.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/jquery.cookie.js" 
				th:src="@{/resources/js/jquery.cookie.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/modernizr.mq.js" 
				th:src="@{/resources/js/modernizr.mq.js}"
				type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {				
				
				$('.datepicker').datepicker();
				$('.toggleButton').toggleButtons();
				$('#tourtest').joyride({
					tipAnimation : 'pop',
					tipLocation : 'right',
					autoStart : true
				});
				$('#tourtest').hide();				
		 });		
	
		</script><noscript>Alternate content for script</noscript>
	
	<!-- END: JavaScript-->		

</body>
</html>
